{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="projectCostItemMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i>Cost</div>
                </div>

                <div class="portlet-body form">
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'cost-form', 'novalidate': 'novalidate'} }) }}
                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">

                            <div class="portlet-body">
                                <div class="col-md-12">

                                    <table id="table_project_cost" class="col-md-8">

                                        <tr>
                                            <td>
                                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                    <span class="input-group-btn"></span>
                                                    {{ form_widget(form.dateOfCost, { 'attr': {'class': 'form-control', 'style': 'width:165px;margin-right: 50px;'} }) }}
                                                </div>
                                            </td>
                                            <td>
                                                {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'style': 'width:180px;margin-right: 50px;'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.invoice, { 'attr': {'class': 'form-control', 'style': 'width:180px;margin-right: 50px;'} }) }}
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_widget(form.pr, { 'attr': {'class': 'form-control', 'style': 'width:165px;'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.subCategory, { 'attr': {'class': 'form-control', 'style': 'width:180px;margin-right: 50px;'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.grn, { 'attr': {'class': 'form-control', 'style': 'width:180px;'} }) }}
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_widget(form.project, { 'attr': {'class': 'form-control', 'style': 'width:166px;' } }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.buyer, { 'attr': {'class': 'form-control select2me', 'style': 'width:180px;' } }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.quantity, { 'attr': {'class': 'form-control quantity', 'style': 'width:180px;'} }) }}
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_widget(form.item, { 'attr': {'class': 'form-control select2me', 'style': 'width:166px;' } }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.po, { 'attr': {'class': 'form-control', 'style': 'width:180px;margin-right: 50px;'} }) }}
                                            </td>
                                            <td>
                                                {{ form_widget(form.unitPrice, { 'attr': {'class': 'form-control unitPrice', 'style': 'width:180px;'} }) }}
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>

                                    </table>
                                    <table class="col-md-2">
                                        <tr>
                                            <td>
                                                {{ form_widget(form.lineTotal, { 'attr': {'class': 'form-control lineTotal', 'style': 'width:180px;'} }) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ form_widget(form.comment, { 'attr': {'class': 'form-control lineTotal', 'style': 'width:180px;height:72px;'} }) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">
                                                <input type="button" name="ajaxSaveprojectCostItem" value="Save" id="ajaxSaveprojectCostItem" class="btn green button-width" style="height:32px;">
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                        <div class="form-actions">
                            <div class="form-group">
                                <div class="col-md-12">

                                    <form action="{{ path('project_cost_add') }}" method="get" {{ form_enctype(formSearch) }} name="search">

                                        <div class="portlet-body">

                                                <table id="table_project_cost">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{ form_widget(formSearch.project, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                            </td>
                                                            <td>
                                                                {{ form_widget(formSearch.item, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                                    <span class="input-group-btn"></span>
                                                                    <input type="text" placeholder="Start Date" name="start_date" class="form-control" style="width: 140px;" readonly/>
                                                                </div>
                                                            </td>
                                                            <td style="font-size: 16px; font-weight: bold;">
                                                                To
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                                    <span class="input-group-btn"></span>
                                                                    <input type="text" placeholder="End Date" name="end_date" class="form-control" style="width: 140px;" readonly/>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                {{ form_widget(formSearch.categoryWise, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                            </td>
                                                            <td>
                                                                <input type="text" name="invoice" placeholder="invoice" class="form-control" style="width: 140px;"/>
                                                            </td>
                                                            <td>
                                                                <input type="text" name="grn" placeholder="GRN#" class="form-control" style="width: 140px;"/>
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ form_widget(formSearch.search, { 'attr': {'class': 'btn grey button-width', 'style': 'height:32px;' } } ) }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                        </div>

                                </form>
                                </div>

                                    <div class="col-md-12" style="margin-top: 30px; margin-left: 0;" id="cost-list-div">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Date</th>
                                                <th>Project</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Unite Price</th>
                                                <th>Total</th>
                                                <th></th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 50) -50 %}
                                            {% endif %}

                                            {% for projectCostItems in projectCostItem %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if projectCostItems.status == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif projectCostItems.status == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td class="col-md-1">{{ i }} .</td>
                                                    <td class="col-md-2" style="color: {{ color|join(" ") }}">{{ projectCostItems.dateOfCost|date('Y-m-d') }}</td>
                                                    <td class="col-md-2" style="color: {{ color|join(" ") }}">{{ projectCostItems.project.projectName | length > 12 ? projectCostItems.project.projectName | slice(0, 12) ~ ' ...' : projectCostItems.project.projectName }}</td>
                                                    <td class="col-md-2" style="color: {{ color|join(" ") }}">{{ projectCostItems.item.itemName | length > 11 ? projectCostItems.item.itemName | slice(0, 11) ~ ' ...' : projectCostItems.item.itemName }}</td>
                                                    <td class="col-md-1" style="color: {{ color|join(" ") }}">{{ projectCostItems.quantity }} {{ projectCostItems.item.itemUnit }}</td>
                                                    <td class="col-md-2" style="color: {{ color|join(" ") }}">{{ projectCostItems.unitPrice }} Tk/{{ projectCostItems.item.itemUnit }}</td>
                                                    <td class="col-md-2" style="color: {{ color|join(" ") }}">{{ projectCostItems.lineTotal }} Tk</td>
                                                    <td><a href="/project-cost/details/{{ projectCostItems.id }}" data-target="#ajax" data-toggle="modal">View</a></td>
                                                    {% if projectCostItems.status == 0 %}
                                                        <td>
                                                            <a href="#" data-myvalue="{{ projectCostItems.id }}" class="check-by-ajax btn default btn-xs red-stripe"><i
                                                                        class="fa fa-plus"></i> Check</a>
                                                        </td>
                                                        <td>
                                                            <a href="/project-cost/update/{{ projectCostItems.id }}" style="width: 80px;" class="btn default btn-xs blue-stripe"><i
                                                                        class="fa fa-edit"></i> Update</a>
                                                        </td>
                                                    {% endif %}
                                                    {% if projectCostItems.status == 1 %}
                                                        <td style=" color: red;">
                                                            <a href="#" class="btn default btn-xs green-stripe"><i class="fa fa-check"></i> Checked</a>
                                                        </td>
                                                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                        <td>
                                                            <a href="/project-cost/delete/{{ projectCostItems.id }}" class="btn default btn-xs blue-stripe"><i
                                                                        class="fa fa-edit"></i> Delete</a>
                                                        </td>
                                                        <td>
                                                            <a href="/project-cost/update/{{ projectCostItems.id }}" class="btn default btn-xs blue-stripe"><i
                                                                        class="fa fa-edit"></i> Update</a>
                                                        </td>
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(projectCostItem) }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#ajaxSaveprojectCostItem").click(function () {
                var sPageURL = window.location.pathname;
                var sURLVariables = sPageURL.split('/');

                var dateOfCost = $("#projectcostitem_dateOfCost").val();
                var project = $("#projectcostitem_project").val();
                var item = $("#projectcostitem_item").val();
                var quantity = $("#projectcostitem_quantity").val();
                var unitPrice = $("#projectcostitem_unitPrice").val();
                var lineTotal = $("#projectcostitem_lineTotal").val();
                var invoice = $("#projectcostitem_invoice").val();
                var grn = $("#projectcostitem_grn").val();
                var category = $("#projectcostitem_category").val();
                var subcategory = $("#projectcostitem_subCategory").val();
                var pr = $("#projectcostitem_pr").val();
                var po = $("#projectcostitem_po").val();
                var buyer = $("#projectcostitem_buyer").val();
                var comment = $("#projectcostitem_comment").val();

                if(invoice && po){

                    alert('Please insert invoice or PO number');
                    return po;
                }

                var projectCostItemArray = new Array(dateOfCost, project, item, quantity, unitPrice, lineTotal, sURLVariables[3], invoice, grn, category, subcategory, pr, po, buyer, comment);

                $.ajax({
                    type: "post",
                    url: Routing.generate('project_cost_ajax_add'),
                    data: "projectCostItemArray=" + projectCostItemArray,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 204) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Fill The Blank Field</span></div>');
                            $('.projectCostItemMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#cost-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 202) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Update Successfully</span></div>');
                            $('.projectCostItemMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#cost-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                            window.location.pathname = 'project-cost';
                        } else {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Add Successfully</span></div>');
                            $('.projectCostItemMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#cost-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        }

                        $("#cost-list-div").load("/cost/list")
                    }
                });
            });

            $("#projectcostitem_category").change(function () {
                var category = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('get_subcategory'),
                    data: "category=" + category,
                    dataType: 'json',
                    success: function (response, status) {
                        if (response.responseCode == 200) {
                            $('#projectcostitem_subCategory').html('');
                            for (var i=0; i < response.subCats.length; i++){
                                var cat = response.subCats[i];
                                $('#projectcostitem_subCategory').append('<option value="'+cat.id+'">'+cat.categoryName+'</option>');
                            }
                        } else {
                            $('.userMessege').css('color', 'green').html(msg.item_name).fadeIn(1000);
                        }
                    }
                });
            });

            $(".unitPrice").keyup(function () {
                var quantity = $("#table_project_cost").find('.quantity').val();
                var unitPrice = $("#table_project_cost").find('.unitPrice').val();
                var lineTotal = quantity * unitPrice;
                $('input[type=text].lineTotal').val(lineTotal);
            });

            $(".check-by-ajax").click(function () {
                var projectCostItemId = $(this).data('myvalue');

                $.ajax({
                    type: "post",
                    url: Routing.generate('project_cost_ajax_checked'),
                    data: "projectCostItemId=" + projectCostItemId,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 202) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Successfully Checked</span></div>');
                            $('.projectCostMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        }

                        $("#cost-list-div").load("/cost/list")
                    }
                });
            });

            {% endblock %}
        });
    </script>

{% endblock %}