{% block body %}

    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="text-align: center;"> Details</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div>

                        <div style="width: 100%;background: red;font-size: 14px;">
                            <div style="width: 45%;float:left;margin-left: 5%;">
                                <div style="font-weight: bold;">
                                    Project Name : {{ projectCostItem[0]['projectName'] }}
                                </div>
                                <br/>
                                <div>
                                    Create By : {{ created[0]['username'] }}
                                </div>
                                <br/>
                                <div>
                                    Create Date : {{ projectCostItem[0]['dateOfCost']|date('Y-m-d') }}
                                </div>
                                <br/>
                                <div>
                                    Purchase Requisition No : {{ projectCostItem[0]['pr'] }}
                                </div>
                                <br/>
                                <div>
                                    GRN No# : {{ projectCostItem[0]['grn'] }}
                                </div>
                                <br/>
                                <div>
                                    Invoice No : {{ projectCostItem[0]['invoice'] }}
                                </div>
                                <br/>
                                <div>
                                    Item Name : {{ projectCostItem[0]['itemName'] }}
                                </div>
                                <br/>
                                <div>
                                    Unit Price : {{ projectCostItem[0]['unitPrice'] }} Tk
                                </div>
                                <br/>
                                <div>
                                    Quantity : {{ projectCostItem[0]['quantity'] }}
                                </div>
                                <br/>

                            </div>
                            <div style="width: 45%;float:right;">
                                <div>
                                    Category : {{ projectCostItem[0]['categoryName'] }}
                                </div>
                                <br/>
                                <div>
                                    Sub-category : {{ subCategory[0]['categoryName'] |default() }}
                                </div>
                                <br/>
                                <div>
                                    Buyer : {{ buyer[0]['buyerName'] |default() }}
                                </div>
                                <br/>
                                <div>
                                    Approved By : {{ approved[0]['username'] }}
                                </div>
                                <br/>
                                <div>
                                    Approved Date : {{ projectCostItem[0]['createdDate']|date('Y-m-d') }}
                                </div>
                                <br/>
                                <div>
                                    Purchase Order No : {{ projectCostItem[0]['po'] }}
                                </div>
                                <br/>
                                <div>
                                    Total : {{ projectCostItem[0]['lineTotal'] }} Tk
                                </div>
                                <br/>
                                <div>
                                    Remark : {{ projectCostItem[0]['comment'] }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

{% endblock %}