{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="projectMessege"></span>

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title"></h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="#" class="project-active-list">Active Project List</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="#" class="project-deleted-list">Deleted Project List</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Project</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="form-actions fluid">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'project-form', 'novalidate': 'novalidate'} }) }}
                            <div class="form-group">
                                {{ form_label(form.projectName, 'Project Name :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;font-weight:bold;' } }
                                ) }}
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        <i class="fa"></i>
                                        {{ form_widget(form.projectName, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </div>
                                </div>
                                <span class="userMessege" style="margin-left: 185px;"></span>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.projectHead, 'Project Head :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;font-weight:bold;' } }
                                ) }}
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        <i class="fa"></i>
                                        {{ form_widget(form.projectHead, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address, 'Address :', {'label_attr': {'class': 'control-label col-md-2', 'style': 'margin-right:-60px;font-weight:bold;' } }
                                ) }}
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        {{ form_widget(form.address, { 'attr': {'class': 'form-control col-md-4', 'style': 'height:72px;'} }) }}
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <input type="button" name="ajaxSaveProject" value="Save" id="ajaxSaveProject" class="btn green button-width col-md-1" style="margin-top:2px;margin-left:10px;height:32px;">
                            </div>
                            {{ form_end(form) }}
                        </div>

                        <div class="form-actions fluid" id="project-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-left: 4%; margin-top: 30px;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Project Name</th>
                                                <th>Project Head</th>
                                                <th>Address</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 10) -10 %}
                                            {% endif %}

                                            {% for projects in project %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if projects.status == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif projects.status == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td>{{ i }} .</td>
                                                    <td class="col-md-3" style="color: {{ color|join("") }};">{{ projects.projectName }}</td>
                                                    <td class="col-md-2" style="color: {{ color|join("") }};">{{ projects.projectHead |default() }}</td>
                                                    <td class="col-md-3" style="color: {{ color|join("") }};">{{ projects.address |default() }}</td>
                                                    <td style="color: red;">
                                                        <a href="#" style="width: 85px;" class="btn default btn-xs red-stripe"><i
                                                                    class="fa fa-times"></i> Deleted</a>
                                                    </td>
                                                    <td>
                                                        <a href="/project/active/{{ projects.id }}" class="btn default btn-xs green-stripe" style="width: 85px;"><i
                                                                    class="fa fa-repeat"></i> Restore</a>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(project) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#ajaxSaveProject").click(function () {
                var sPageURL = window.location.pathname;
                var sURLVariables = sPageURL.split('/');
                var projectName = $("#project_projectName").val();
                var projectHead = $("#project_projectHead").val();
                var address = $("#project_address").val();

                var projectArray = new Array(projectName, sURLVariables[3], projectHead, address);

                $.ajax({
                    type: "post",
                    url: Routing.generate('project_ajax_add'),
                    data: "projectArray=" + projectArray,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 200) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project already exist</span></div>');
                            $('.projectMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#project-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 204) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Project</span></div>');
                            $('.projectMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#project-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 202) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Update Successfully</span></div>');
                            $('.projectMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#project-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Add Successfully</span></div>');
                            $('.projectMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#project-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        }

                        $('.userMessege').fadeOut();
                        $("#project-list-div").load("/project/list")
                    }
                });
            });

            $("#project_projectName").keyup(function () {
                var projectName = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('project_check'),
                    data: "projectName=" + projectName,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.responseCode == 200) {
                            $('.userMessege').css('color', 'red').html(msg.project_name).fadeIn(1000);
                        }
                        else {
                            $('.userMessege').css('color', 'green').html(msg.project_name).fadeIn(1000);
                        }
                    }
                });
            });

            $(".project-active-list").click(function () {

                $("#project-list-div").load("/project/list");
            });

            $(".project-deleted-list").click(function () {

                $("#project-list-div").load("/project/deleted/list");
            });

            {% endblock %}
        });
    </script>

{% endblock %}