<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-12" style="margin-top: 30px;">

            <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>Project Name</th>
                    <th>Project Head</th>
                    <th>Type</th>
                    <th>Area</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% if page == 1 %}{% set i = 0 %}
                {% else %}{% set i = (page * 10) -10 %}
                {% endif %}

                {% for projects in project %}
                    {% set i = i + 1 %}
                    {% set color = [" "] %}

                    {% if projects.status == 0 %}{% set color = color|merge(["red"]) %}
                    {% elseif projects.status == 1 %}{% set color = color|merge(["green"]) %}
                    {% endif %}

                    <tr>
                        <td class="col-md-1">{{ i }} .</td>
                        <td class="col-md-2" style="color: {{ color|join("") }};">{{ projects.projectName }}</td>
                        <td class="col-md-2" style="color: {{ color|join("") }};">{{ projects.projectHead |default() }}</td>
                        <td class="col-md-1" style="color: {{ color|join("") }};">{{ projects.projectCategory.projectCategoryName |default() }}</td>
                        <td class="col-md-1" style="color: {{ color|join("") }};">{{ projects.projectArea.areaName |default() }}</td>
                        <td class="col-md-2" style="color: {{ color|join("") }};">{{ projects.address |default() }}</td>
                        <td class="col-md-1">
                            <a href="/project/delete/{{ projects.id }}" style="width: 85px;" class="btn default btn-xs green-stripe"><i
                                        class="fa fa-trash-o"></i> Delete</a>
                        </td>
                        <td class="col-md-1">
                            <a href="/project/update/{{ projects.id }}" style="width: 85px;" class="btn default btn-xs blue-stripe"><i
                                        class="fa fa-edit"></i> Update</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" style="text-align: right">
                {{ knp_pagination_render(project) }}
            </div>
        </div>
    </div>
</div>