{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
            <strong></strong> {{ flashMessage }}.
        </div>
    {% endfor %}

    <span class="buyerMessege"></span>

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title"></h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#" class="buyer-active-list">Active Buyer List</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#" class="buyer-deleted-list">Deleted Buyer List</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Buyer</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'buyer-form', 'novalidate': 'novalidate'} }) }}
                            <div class="form-group">
                                {{ form_label(form.buyerName, 'Buyer Name :', {'label_attr': {'class': 'control-label col-md-2', 'style': 'margin-right:-50px;font-weight:bold;' } }
                                ) }}
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        {{ form_widget(form.buyerName, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;' } }) }}
                                    </div>
                                </div>
                                <input type="button" name="ajaxSaveBuyer" value="Save" id="ajaxSaveBuyer" class="btn green button-width col-md-1" style="margin-top:2px;margin-left:10px;height:32px;">
                                <span class="userMessege" style="margin-left: 195px;"></span>
                            </div>
                            {{ form_end(form) }}
                        </div>

                        <div class="form-actions fluid" id="buyer-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Buyer Name</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 10) - 10 %}
                                            {% endif %}

                                            {% for buyer in buyers %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if buyer.status == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif buyer.status == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td>{{ i }} .</td>
                                                    <td class="col-md-8" style="color: {{ color|join("") }};">{{ buyer.buyerName }}</td>
                                                    <td>
                                                        <a href="/buyer/delete/{{ buyer.id }}" style="width: 85px;" class="btn default btn-xs green-stripe"><i
                                                                    class="fa fa-trash-o"></i> Delete</a>
                                                    </td>
                                                    <td>
                                                        <a href="/buyer/update/{{ buyer.id }}" style="width: 85px;" class="btn default btn-xs blue-stripe"><i
                                                                    class="fa fa-edit"></i> Update</a>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(buyers) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#ajaxSaveBuyer").click(function () {
                var sPageURL = window.location.pathname;
                var sURLVariables = sPageURL.split('/');
                var buyerName = $("#buyer_buyerName").val();

                var buyerArray = new Array(buyerName, sURLVariables[3]);
                $.ajax({
                    type: "post",
                    url: Routing.generate('buyer_ajax_add'),
                    data: "buyerArray=" + buyerArray,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 200) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Buyer already exist</span></div>');
                            $('.buyerMessege').css('color', 'red').html(msg.buyer_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#buyer-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 204) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Buyer</span></div>');
                            $('.buyerMessege').css('color', 'red').html(msg.buyer_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#buyer-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 202) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Buyer Update Successfully</span></div>');
                            $('.buyerMessege').css('color', 'green').html(msg.buyer_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#buyer-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Buyer Add Successfully</span></div>');
                            $('.buyerMessege').css('color', 'green').html(msg.buyer_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#buyer-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        }

                        $('.userMessege').fadeOut();
                        $("#buyer-list-div").load("/buyer/list")
                    }
                });
            });

            $("#buyer_buyerName").keyup(function () {
                var buyerName = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('buyer_check'),
                    data: "buyerName=" + buyerName,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.responseCode == 200) {
                            $('.userMessege').css('color', 'red').html(msg.buyer_name).fadeIn(1000);
                        }
                        else {
                            $('.userMessege').css('color', 'green').html(msg.buyer_name).fadeIn(1000);
                        }
                    }
                });
            });

            $(".buyer-active-list").click(function () {

                $("#buyer-list-div").load("/buyer/list");
            });

            $(".buyer-deleted-list").click(function () {

                $("#buyer-list-div").load("/buyer/deleted/list");
            });

            {% endblock %}
        });
    </script>

{% endblock %}