{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="userMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i>User</div>
                </div>

                <div class="portlet-body form">
                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'user-form', 'novalidate': 'novalidate'} }) }}
                            <div class="portlet-body">
                                <div class="col-md-11" style="margin-left: 40px;">

                                    <table id="table_project_cost">
                                        <thead>
                                        <tr>
                                            <th>{{ form_label(form.username, 'Username', {'label_attr': {'class': '' } } ) }}</th>
                                            <th>{{ form_label(form.email, 'Email', {'label_attr': {'class': '' } } ) }}</th>
                                            <th>{{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': '' } } ) }}</th>
                                            <th>{{ form_label(form.plainPassword.second, 'Confirm Password', {'label_attr': {'class': '' } } ) }}</th>
                                            <th>{{ form_label(form.role, 'User Role', {'label_attr': {'class': '' } } ) }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'style': '', 'autocomplete': 'off' } }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'style': 'width:220px;', 'autocomplete': 'off' } }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            {{ form_widget(form.role, { 'attr': {'class': 'form-control', 'style': 'width:160px;' } }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-icon right">
                                                            {{ form_widget(form.save, { 'attr': {'class': 'btn green button-width', 'style': 'height:32px;' } } ) }}
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="userMessege"></span>
                                            </td>
                                            <td>
                                                {#<span class="emailMessege"></span>#}
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>

                        <div class="form-actions fluid" id="item-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th{% if users.isSorted('a.username') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(users, 'User Name', 'a.username') }}</th>
                                                <th>Access Role</th>
                                                <th>Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 10) -10 %}
                                            {% endif %}

                                            {% for user in users %}

                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% set role = user.roles[0] %}
                                                {% set roles = [" "] %}
                                                {% if role == 'ROLE_SUPER_ADMIN' %}{% set roles = roles|merge(["SUPER ADMIN"]) %}
                                                {% elseif role == 'ROLE_ADMIN' %}{% set roles = roles|merge(["MANAGER"]) %}
                                                {% elseif role == 'ROLE_DATA'  %}{% set roles = roles|merge(["USER"]) %}
                                                {% endif %}

                                                {% if user.enabled == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif user.enabled == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td>{{ i }} .</td>
                                                    <td class="col-md-4" style="color: {{ color|join(" ") }}">{{ user.username }}</td>
                                                    <td class="col-md-4" style="color: {{ color|join(" ") }}">{{ roles | join(" ") }}</td>
                                                    <td>
                                                    {% if user.enabled == 1 %}
                                                        <a href="/user/deactive/{{ user.id }}" style="width: 100px;" class="btn default btn-xs green-stripe"><i
                                                                    class="fa fa-hand-o-right"></i> Deactivate</a>
                                                    {% endif %}
                                                    {% if user.enabled == 0 %}
                                                        <a href="/user/active/{{ user.id }}" style="width: 100px;" class="btn default btn-xs red-stripe"><i
                                                                    class="fa fa-hand-o-right"></i> Activate</a>
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="/user/edit/{{ user.id }}" style="width: 100px;" class="btn default btn-xs green-stripe"><i
                                                                    class="fa fa-edit"></i> Edit</a>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(users) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var FormValidation = function () {

            var handleValidation = function () {

                var user_form = $('#user-form');
                var error1 = $('.alert-danger', user_form);
                var success1 = $('.alert-success', user_form);

                user_form.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",
                    rules: {
                        'user[username]': {
                            minlength: 3,
                            required: true
                        },
                        'user[email]': {
                            email: true,
                            required: true
                        },
                        'user[plainPassword][first]': {
                            minlength: 3,
                            required: true
                        },
                        'user[plainPassword][second]': {
                            minlength: 3,
                            required: true,
                            equalTo: '#user_plainPassword_first'
                        },
                        'user[role]': {
                            required: true
                        }
                    },

                    messages: {
                        'bcl_userbundle_user[passwords][Confirm_Password]': {
                            required: 'Repeat your password',
                            equalTo: 'Enter the same password as above'
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var icon = $(element).parent('.input-icon').children('i');
                        icon.removeClass('fa-check').addClass("fa-warning");
                        icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight

                    },

                    success: function (label, element) {
                        var icon = $(element).parent('.input-icon').children('i');
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                        icon.removeClass("fa-warning").addClass("fa-check");
                    },

                    submitHandler: function (form) {
                        form.submit();
                        //success1.show();
                        error1.hide();
                    }
                });

            }

            var handleWysihtml5 = function () {
                if (!jQuery().wysihtml5) {

                    return;
                }

                if ($('.wysihtml5').size() > 0) {
                    $('.wysihtml5').wysihtml5({
                        "stylesheets": ["assets/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
                    });
                }
            }

            return {
                init: function () {
                    handleWysihtml5();
                    handleValidation();
                }
            };
        }();

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#user_username").keyup(function () {
                var userName = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('username_check'),
                    data: "userName=" + userName,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.responseCode == 200) {
                            $('.userMessege').css('color', 'red').html(msg.user_name).fadeIn(1000);
                        }
                        else {
                            $('.userMessege').css('color', 'green').html(msg.user_name).fadeIn(1000);
                        }
                    },
                    error: function () {
                        alert('Script Error');
                    }
                });
            });

            $("#user_email").keyup(function () {
                var email = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('email_check'),
                    data: "email=" + email,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.responseCode == 200) {
                            $('.emailMessege').css('color', 'red').html(msg.email_check).fadeIn(1000);
                        }
                        else {
                            $('.emailMessege').css('color', 'green').html(msg.email_check).fadeIn(1000);
                        }
                    },
                    error: function () {
                        alert('Script Error');
                    }
                });
            });

            {% endblock %}
        });
    </script>

{% endblock %}