{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Users</h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="/user/list">Users List</a>
                    <i class="fa"> | </i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="/user/deactivated">Users deactivated</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
                    <strong>WOW!</strong> {{ flashMessage }}.
                </div>
            {% endfor %}

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-th"></i>Deactivated User List</div>
                    <div class="tools">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar" style="float: right">
                        <div class="btn-group">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="">
                        <thead>
                        <tr>
                            <th>S/L</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for user in pagination %}
                            {% if user.enabled == 0 %}
                            {% set i = i + 1 %}
                            {% set roles = [" "] %}
                            {% set role = user.roles[0] %}
                            {% if role == 'ROLE_SUPER_ADMIN' %}{% set roles = roles|merge(["Admin"]) %}
                            {% else %}{% set roles = roles|merge(["Manager"]) %}
                            {% endif %}

                            <tr class="odd gradeX">
                                <td class="serial">{{ i }}</td>
                                <td class="fullName-space">{{ user.firstName }} {{ user.lastName }}</td>
                                <td class="fullName-space"><a href="mailto:shuxer@gmail.com">{{ user.email | length > 15 ? user.email|slice(0, 15) ~ '...' : user.email }}</a></td>
                                <td class="phone">{{ user.PhoneNumber | length > 14 ? user.PhoneNumber|slice(0, 14) ~ '...' : user.PhoneNumber }}</td>
                                <td class="address">{{ user.address | length > 30 ? user.address|slice(0, 30) ~ '...' : user.address }}</td>
                                <td class="type">{{ roles | join(" ") }}</td>
                                <td>
                                    <a href="/user/active/{{ user.id }}" class="btn default btn-xs red-stripe"><i
                                                class="fa fa-hand-o-right"></i> Activate</a>
                                    <a href="/user/delete/{{ user.id }}" class="btn default btn-xs blue-stripe"><i
                                                class="fa fa-trash-o"></i> Delete</a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation" style="text-align: right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}