{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">User</h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="/user/list">User List</a>
                    <i class="fa">|</i>
                </li>
            </ul>
        </div>
    </div>

    <div class="well">
        <div class="invoice">
            <div class="row">
                <div class="col-xs-12 text-align-center">
                    <h4><strong>{{ user.firstName }} {{ user.lastName }}</strong></h4>
                </div>
                <br/>

                <div class="col-xs-2">
                    <strong>User Information</strong><br/>
                </div>
            </div>
            {% set roles = [" "] %}
            {% set role = user.roles[0] %}
            {% if role == 'ROLE_SUPER_ADMIN' %}{% set roles = roles|merge(["Administrator"]) %}
            {% else %}{% set roles = roles|merge(["Manager"]) %}
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    Type : {{ roles | join(" ") }}<br/>
                    Username : {{ user.username }}<br/>
                    Designation : {{ user.designation }}
                </div>
            </div>
            <br/>
            <br/>

            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>Address</strong><br/>
                        {{ user.address }}<br/>
                        {{ user.PhoneNumber }}<br/>
                        <a href="mailto:#">{{ user.email }}</a>
                    </address>
                </div>
            </div>
        </div>
    </div>

{% endblock %}