<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>PMS | Admin Panel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% stylesheets filter='cssrewrite'
    'assets/plugins/font-awesome/css/font-awesome.min.css'
    'assets/plugins/bootstrap/css/bootstrap.min.css'
    'assets/plugins/uniform/css/uniform.default.css'

    'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'assets/plugins/fancybox/source/jquery.fancybox.css'

    'assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css'

    'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css'
    'assets/plugins/gritter/css/jquery.gritter.css'
    'assets/plugins/select2/select2_metro.css'
    'assets/plugins/clockface/css/clockface.css'
    'assets/plugins/bootstrap-datepicker/css/datepicker.css'
    'assets/plugins/jquery-multi-select/css/multi-select.css'
    'assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch-metro.css'
    'assets/plugins/jquery-tags-input/jquery.tagsinput.css'
    'assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
    'assets/css/plugins.css'

    'assets/css/style-metronic.css'
    'assets/css/style.css'
    'assets/css/style-responsive.css'
    'assets/css/themes/default.css'
    'assets/css/pages/inbox.css'
    'assets/css/custom.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="page-header-fixed">

<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="header-inner">

        <a class="navbar-brand" href="#">
            <div style="margin-left: 25px; font-size: 25px; color: royalblue;">PMS</div>
            {#{% image 'assets/img/logo.png'#}
            {#filter='' output='/img/logo.png' %}#}
            {#<img src="{{ asset_url }}" alt="logo" class="img-responsive"/>#}
            {#{% endimage %}#}
        </a>

        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            {% image 'assets/img/menu-toggler.png'
            filter='' output='/img/menu-toggler.png' %}
            <img src="{{ asset_url }}" alt="menu-toggler"/>
            {% endimage %}
        </a>

        <ul class="nav navbar-nav pull-right">
            <li class="dropdown user">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    {% image 'assets/img/avatar1.png'
                    filter='' output='/img/avatar1.png' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                    <span class="username">{{ app.user.username }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile"><i class="fa fa-user"></i> My Profile</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-key"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div class="clearfix"></div>

<div class="page-container">

    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li>
                <div class="sidebar-toggler hidden-phone">
                    {% image 'assets/img/sidebar-toggler.jpg'
                    filter='' output='/img/sidebar-toggler.jpg' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                </div>
            </li>

            {% set Route, Dashboard, User, Item, Project, Cost, Report, Category, SubCategory, OverView = app.request.attributes.get('_route'), [" "], [" "], [" "], [" "], [" "], [" "], [" "], [" "], [" "] %}
            {% set Url = Route|split('_') %}
            {% if Url[0] == 'homepage' %}{% set Dashboard = Dashboard|merge(["active"]) %}
            {% elseif Url[0] == 'fos' %}{% set Dashboard = Dashboard|merge(["active"]) %}
            {% elseif Url[0] == 'user' %}{% set User = User|merge(["active"]) %}
            {% elseif Url[0] == 'item' %}{% set Item = Item|merge(["active"]) %}
            {% elseif Url[0] == 'category' %}{% set Category = Category|merge(["active"]) %}
            {% elseif Url[0] == 'sub' %}{% set SubCategory = SubCategory|merge(["active"]) %}
            {% elseif Url[0] == 'project' %}{% set Project = Project|merge(["active"]) %}
            {% elseif Url[0] == 'cost' %}{% set Cost = Cost|merge(["active"]) %}
            {% elseif Url[0] == 'report' %}{% set Report = Report|merge(["active"]) %}
            {% elseif Url[0] == 'over' %}{% set OverView = OverView|merge(["active"]) %}
            {% endif %}

            <li class="{{ Dashboard|join(" ") }}">
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span class="title"> Dashboard </span>
                    <span class="selected"></span>
                </a>
            </li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li class="{{ User|join(" ") }}">
                <a href="/user">
                    <i class="fa fa-user"></i>
                    <span class="title"> User </span>
                    <span class="selected"></span>
                </a>
            </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
            <li class="{{ Item|join(" ") }}">
                <a href="/item">
                    <i class="fa fa-gift"></i>
                    <span class="title"> Item </span>
                    <span class="selected"></span>
                </a>
            </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="{{ Category|join(" ") }}">
                    <a href="/category">
                        <i class="fa fa-gift"></i>
                        <span class="title"> Category </span>
                        <span class="selected"></span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="{{ SubCategory|join(" ") }}">
                    <a href="/sub-category">
                        <i class="fa fa-gift"></i>
                        <span class="title"> Sub-Category </span>
                        <span class="selected"></span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
            <li class="{{ Project|join(" ") }}">
                <a href="/project">
                    <i class="fa fa-gift"></i>
                    <span class="title"> Project </span>
                    <span class="selected"></span>
                </a>
            </li>
            {% endif %}
            {% if is_granted("ROLE_DATA") %}
            <li class="{{ Cost|join(" ") }}">
                <a href="/project-cost">
                    <i class="fa fa-gift"></i>
                    <span class="title"> Project-cost </span>
                    <span class="selected"></span>
                </a>
            </li>
            {% endif %}
            {% if is_granted("ROLE_DATA") %}
            <li class="{{ Report|join(" ") }}">
                <a href="javascript:;">
                    <i class="fa fa-bookmark-o"></i>
                    <span class="title">Report</span>
                    <span class="selected"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/report/project">
                            <i class="fa fa-file-text"></i>
                            <span class="title"> Project </span>
                        </a>
                    </li>
                    <li>
                        <a href="/report/item">
                            <i class="fa fa-file-text"></i>
                            <span class="title"> Item </span>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted("ROLE_DATA") %}
                <li class="{{ OverView|join(" ") }}">
                    <a href="/over/view">
                        <i class="fa fa-gift"></i>
                        <span class="title"> Over-view </span>
                        <span class="selected"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="footer-inner">
        2013 &copy; Create By RBS.
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>

{% javascripts
'assets/plugins/respond.min.js'
'assets/plugins/excanvas.min.js'
'assets/plugins/jquery-1.10.2.min.js'
'assets/plugins/jquery-migrate-1.2.1.min.js'
'assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
'assets/plugins/bootstrap/js/bootstrap.min.js'
'assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
'assets/plugins/jquery.blockui.min.js'
'assets/plugins/jquery.cookie.min.js'
'assets/plugins/uniform/jquery.uniform.min.js'

'assets/plugins/flot/jquery.flot.js'
'assets/plugins/flot/jquery.flot.resize.js'
'assets/plugins/jquery.pulsate.min.js'
'assets/plugins/bootstrap-daterangepicker/moment.min.js'
'assets/plugins/bootstrap-daterangepicker/daterangepicker.js'
'assets/plugins/gritter/js/jquery.gritter.js'
'assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'
'assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js'
'assets/plugins/jquery.sparkline.min.js'
'assets/scripts/app.js'
'assets/scripts/index.js'
'assets/scripts/tasks.js'
'assets/plugins/jquery-validation/dist/jquery.validate.min.js'
'assets/plugins/select2/select2.min.js'

'assets/plugins/jquery-validation/dist/additional-methods.min.js'
'assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
'assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
'assets/plugins/ckeditor/ckeditor.js'
'assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
'assets/plugins/bootstrap-markdown/lib/markdown.js'
'assets/plugins/data-tables/jquery.dataTables.js'
'assets/plugins/data-tables/DT_bootstrap.js'

'assets/scripts/form-validation.js'
'assets/scripts/table-managed.js'

'assets/plugins/bootstrap/js/bootstrap2-typeahead.min.js'
'assets/plugins/fuelux/js/spinner.min.js'
'assets/plugins/ckeditor/ckeditor.js'
'assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js'
'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
'assets/plugins/bootstrap-daterangepicker/moment.min.js'
'assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js'
'assets/plugins/jquery.input-ip-address-control-1.0.min.js'
'assets/plugins/jquery-multi-select/js/jquery.multi-select.js'
'assets/plugins/jquery-multi-select/js/jquery.quicksearch.js'
'assets/plugins/jquery.pwstrength.bootstrap/src/pwstrength.js'
'assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js'
'assets/plugins/jquery-tags-input/jquery.tagsinput.min.js'
'assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
'assets/plugins/bootstrap-markdown/lib/markdown.js'
'assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js'
'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js'
'assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
'assets/plugins/flot/jquery.flot.pie.js'
'assets/scripts/charts.js'

'assets/scripts/form-components.js' %}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    jQuery(document).ready(function () {
        {% block documentready %}
        App.init();
        FormValidation.init();
        FormComponents.init();
        TableManaged.init();

        $(".unitPrice").keyup(function () {
            var quantity = $("#table_project_cost").find('.quantity').val();
            var unitPrice = $("#table_project_cost").find('.unitPrice').val();
            var lineTotal = quantity * unitPrice;
            $('input[type=text].lineTotal').val(lineTotal);
        });

        $("#projectcost_category").change(function () {
            var category = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('get_subcategory'),
                data: "category=" + category,
                dataType: 'json',
                success: function (response, status) {
                    if (response.responseCode == 200) {
                        $('#projectcost_subCategory').html('');
                        for (var i=0; i < response.subCats.length; i++){
                            var cat = response.subCats[i];
                            $('#projectcost_subCategory').append('<option value="'+cat.id+'">'+cat.categoryName+'</option>');
                        }
                    } else {
                        $('.userMessege').css('color', 'green').html(msg.item_name).fadeIn(1000);
                    }
                }
            });

        });

        $("#item_itemName").keyup(function () {
            var itemName = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('item_check'),
                data: "itemName=" + itemName,
                dataType: 'json',
                success: function (msg) {
                    if (msg.responseCode == 200) {
                        $('.userMessege').css('color', 'red').html(msg.item_name).fadeIn(1000);
                    }
                    else {
                        $('.userMessege').css('color', 'green').html(msg.item_name).fadeIn(1000);
                    }
                }
            });
        });

        $("#project_projectName").keyup(function () {
            var projectName = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('project_check'),
                data: "projectName=" + projectName,
                dataType: 'json',
                success: function (msg) {
                    if (msg.responseCode == 200) {
                        $('.userMessege').css('color', 'red').html(msg.project_name).fadeIn(1000);
                    }
                    else {
                        $('.userMessege').css('color', 'green').html(msg.project_name).fadeIn(1000);
                    }
                }
            });
        });

        $("#username").change(function () {
            var userName = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('username_check'),
                data: "userName=" + userName,
                dataType: 'json',
                success: function (msg) {
                    if (msg.responseCode == 200) {
                        $('.userMessege').css('color', 'red').html(msg.user_name).fadeIn(1000);
                    }
                    else {
                        $('.userMessege').css('color', 'green').html(msg.user_name).fadeIn(1000);
                    }
                },
                error: function () {
                    alert('Script Error');
                }
            });
        });

        $("#email").change(function () {
            var email = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('email_check'),
                data: "email=" + email,
                dataType: 'json',
                success: function (msg) {
                    if (msg.responseCode == 200) {
                        $('.emailMessege').css('color', 'red').html(msg.email_check).fadeIn(1000);
                    }
                    else {
                        $('.emailMessege').css('color', 'green').html(msg.email_check).fadeIn(1000);
                    }
                },
                error: function () {
                    alert('Script Error');
                }
            });

        });

        $("#ajaxSaveCategory").click(function () {
            var sPageURL = window.location.pathname;
            var sURLVariables = sPageURL.split('/');
            var categoryName = $("#category_categoryName").val();

            var categoryArray = new Array(categoryName, sURLVariables[3]);
            $.ajax({
                type: "post",
                url: Routing.generate('category_ajax_add'),
                data: "categoryArray=" + categoryArray,
                dataType: 'json',
                success: function (msg) {
                    if(msg.responseCode == 200) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Category already exist</span></div>');
                        $('.categoryMessege').css('color', 'red').html(msg.category_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 204) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Category</span></div>');
                        $('.categoryMessege').css('color', 'red').html(msg.category_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 202) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Category Update Successfully</span></div>');
                        $('.categoryMessege').css('color', 'green').html(msg.category_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Category Add Successfully</span></div>');
                        $('.categoryMessege').css('color', 'green').html(msg.category_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    }

                    $('.userMessege').fadeOut();
                    $("#category-list-div").load("/category/list")
                }
            });
        });

        $("#ajaxSaveSubCategory").click(function () {
            var sPageURL = window.location.pathname;
            var sURLVariables = sPageURL.split('/');
            var subcategory = $("#subcategory_category_categoryName").val();
            var category = $("#subcategory_subcategory").val();

            var subcategoryArray = new Array(subcategory, category, sURLVariables[3]);
            $.ajax({
                type: "post",
                url: Routing.generate('sub_category_ajax_add'),
                data: "subcategoryArray=" + subcategoryArray,
                dataType: 'json',
                success: function (msg) {
                    if(msg.responseCode == 200) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category/category already exist</span></div>');
                        $('.subCategoryMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#sub-category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 204) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Sub-category or select Category</span></div>');
                        $('.subCategoryMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#sub-category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 202) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category Update Successfully</span></div>');
                        $('.subCategoryMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#sub-category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category Add Successfully</span></div>');
                        $('.subCategoryMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#sub-category-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    }

                    $('.userMessege').fadeOut();
                    $("#sub-category-list-div").load("/sub-category/list")
                }
            });
        });

        $("#ajaxSaveItem").click(function () {
            var sPageURL = window.location.pathname;
            var sURLVariables = sPageURL.split('/');
            var itemName = $("#item_itemName").val();

            var itemArray = new Array(itemName, sURLVariables[3]);
            $.ajax({
                type: "post",
                url: Routing.generate('item_ajax_add'),
                data: "itemArray=" + itemArray,
                dataType: 'json',
                success: function (msg) {
                    if(msg.responseCode == 200) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Item already exist</span></div>');
                        $('.itemMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#item-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 204) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Item</span></div>');
                        $('.itemMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#item-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 202) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Item Update Successfully</span></div>');
                        $('.itemMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#item-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Item Add Successfully</span></div>');
                        $('.itemMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#item-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    }

                    $('.userMessege').fadeOut();
                    $("#item-list-div").load("/item/list")
                }
            });
        });

        $("#ajaxSaveProject").click(function () {
            var sPageURL = window.location.pathname;
            var sURLVariables = sPageURL.split('/');
            var projectName = $("#project_projectName").val();

            var projectArray = new Array(projectName, sURLVariables[3]);

            $.ajax({
                type: "post",
                url: Routing.generate('project_ajax_add'),
                data: "projectArray=" + projectArray,
                dataType: 'json',
                success: function (msg) {
                    if(msg.responseCode == 200) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project already exist</span></div>');
                        $('.projectMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#project-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 204) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Project</span></div>');
                        $('.projectMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#project-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 202) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Update Successfully</span></div>');
                        $('.projectMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#project-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Add Successfully</span></div>');
                        $('.projectMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#project-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    }

                    $('.userMessege').fadeOut();
                    $("#project-list-div").load("/project/list")
                }
            });
        });

        $("#ajaxSaveProjectCost").click(function () {
            var sPageURL = window.location.pathname;
            var sURLVariables = sPageURL.split('/');

            var dateOfCost = $("#projectcost_dateOfCost").val();
            var project = $("#projectcost_project").val();
            var item = $("#projectcost_item").val();
            var quantity = $("#projectcost_quantity").val();
            var unitPrice = $("#projectcost_unitPrice").val();
            var lineTotal = $("#projectcost_lineTotal").val();
            var invoice = $("#projectcost_invoice").val();
            var grn = $("#projectcost_grn").val();
            var category = $("#projectcost_category").val();
            var subcategory = $("#projectcost_subCategory").val();

            var projectCostArray = new Array(dateOfCost, project, item, quantity, unitPrice, lineTotal, sURLVariables[3], invoice, grn, category, subcategory);

            $.ajax({
                type: "post",
                url: Routing.generate('project_cost_ajax_add'),
                data: "projectCostArray=" + projectCostArray,
                dataType: 'json',
                success: function (msg) {
                    if(msg.responseCode == 204) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Fill The Blank Field</span></div>');
                        $('.projectCostMessege').css('color', 'red').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#cost-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else if(msg.responseCode == 202) {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Update Successfully</span></div>');
                        $('.projectCostMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#cost-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    } else {
                        var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Project Cost Add Successfully</span></div>');
                        $('.projectCostMessege').css('color', 'green').html(msg.project_ajax_add).fadeIn(1000).append($addLink);
                        $(':input','#cost-form')
                                .not(':button, :submit, :reset, :hidden')
                                .val('')
                                .removeAttr('checked')
                                .removeAttr('selected');
                    }

                    $("#cost-list-div").load("/cost/list")
                }
            });
        });

        $("#user_save").click(function () {
            var username = $("#user_username").val();
            var email = $("#user_email").val();
            var Password_first = $("#user_plainPassword_first").val();
            var Password_second = $("#user_plainPassword_second").val();

            if(!username){
                return username;
            }
            if(!email){
                return email;
            }
            if(!Password_first){
                return Password_first;
            }
            if(!Password_second){
                return Password_second;
            }
            if(Password_first === Password_second){
                return Password_first;
            }
        });

        {% endblock %}
    });
</script>

<script type="text/javascript">

    var RecaptchaOptions = {
        theme: 'custom',
        custom_theme_widget: 'recaptcha_widget'
    };
</script>

</body>

</html>
