{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>{{ projectItems[0].projectName }} Items Chart</div>
            </div>
            <div class="portlet-body">
                <div id="itemsPieChart" class="chart"></div>
                <div style="text-align: center;font-weight: bold">Total cost in this project : {{ itemsTotal[0].total }} Tk</div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>{{ projectItems[0].projectName }} Categories Chart</div>
            </div>
            <div class="portlet-body">
                <div id="categoriesPieChar" class="chart"></div>
                <div style="text-align: center;font-weight: bold">Total cost in those categories : {{ itemsTotal[0].total }} Tk</div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-striped table-hover" style="border: 1px solid grey;">
            <thead>
            <tr>
                <th>Sl</th>
                <th>Used Item</th>
                <th>Number of used</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for projectItem in projectItems %}
                {% set i = i + 1 %}

                {% set time = projectItem.totalUsed %}
                {% set times = [" "] %}
                {% if time == 1 %}{% set times = times|merge(["time"]) %}
                {% else %}{% set times = times|merge(["times"]) %}
                {% endif %}

                <tr>
                    <td>
                        {{ i }}.
                    </td>
                    <td class="col-md-3">
                        {{ projectItem.itemName }}
                    </td>
                    <td class="col-md-3">
                        <a href="/report/byItem/details/{{ projectItem.id }}/{{ startDate }}/{{ endDate }}/{{ projectItem.projectName }}">
                            {{ projectItem.totalUsed }} {{ times | join(" ") }}
                        </a>
                    </td>
                    <td class="col-md-3">
                        {{ projectItem.quantities }} {{ projectItem.itemUnit }}
                    </td>
                    <td class="col-md-3">
                        {{ projectItem.total }} Tk
                    </td>
                </tr>

            {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td>

                    </td>
                    <td class="col-md-4">

                    </td>
                    <td class="col-md-2">

                    </td>
                    <td  class="col-md-2 bold" style="text-align: right;">
                        Grand Total :
                    </td>
                    <td class="col-md-2 bold">
                        {{ itemsTotal[0].total }} Tk
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block documentready %}
{{ parent() }}

var items = {{ itemsPieChartData|json_encode|raw }}
var categories = {{ categoriesPieChartData|json_encode|raw }}

$.plot($("#itemsPieChart"), items, {

    series: {
        pie: {
        show: true,
        label: {
            show: true,
            radius: 3 / 4,
            formatter: function (label, series) {

                return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                },
                    background: {
                        opacity: 0.8
                }
            }
        }
    },
    grid: {
        hoverable: true,
        clickable: true
    }
});

$.plot($("#categoriesPieChar"), categories, {

    series: {
        pie: {
        show: true,
            label: {
            show: true,
            radius: 3 / 4,
            formatter: function (label, series) {

                return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                },
                    background: {
                        opacity: 0.8
                }
            }
        }
    },
    grid: {
        hoverable: true,
        clickable: true
    }
});

{% endblock documentready %}