{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i> {{ itemUses[0].itemName }} uses Chart</div>
            </div>
            <div class="portlet-body">
                <div id="interactive" class="chart"></div>
                <div style="text-align: center;font-weight: bold">This item spent : {{ itemTotal[0].total }}</div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i></div>
            </div>
            <div class="portlet-body">
                {#<div id="interactive" class="chart"></div>#}
                <div style="text-align: center;font-weight: bold"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-striped table-hover" id="sorting" style="border: 1px solid grey;">
            <thead>
            <tr>
                <th>Project</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>

            {% for itemUse in itemUses %}

                <tr>
                    <td style="width: 150px;">
                        {{ itemUse.projectName }}
                    </td>
                    <td style="width: 90px;">{{ itemUse.total }} Tk</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block documentready %}
    {{ parent() }}

    $('#sorting').dataTable({
    "sDom": "<'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
    "aoColumns": [
    { "bSortable": true },
    null
    ]
    });

    var data = {{ reportData|json_encode|raw }}
    $.plot($("#interactive"), data, {

    series: {
    pie: {
    show: true,
    label: {
    show: true,
    radius: 3 / 4,
    formatter: function (label, series) {

    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
    },
    background: {
    opacity: 0.8
    }
    }
    }
    },
    grid: {
    hoverable: true,
    clickable: true
    }
    });
    $("#interactive").bind("plothover", pieHover);
    $("#interactive").bind("plotclick", pieClick);

    function pieHover(event, pos, obj) {

    if (!obj)
    return;
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
    }

    function pieClick(event, pos, obj) {
    if (!obj)
    return;
    percent = parseFloat(obj.series.percent).toFixed(2);
    alert('' + obj.series.label + ': ' + percent + '%');
    }
{% endblock documentready %}