{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('over_view') }}" method="get" {{ form_enctype(formSearch) }} name="search">

        <table id="table_project_cost">
            <tbody>
            <tr>
                <td>
                    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <span class="input-group-btn"></span>
                        <input type="text" placeholder="Start Date" name="start_date" class="form-control" style="width: 140px;margin-left: 14px;" readonly/>
                    </div>
                </td>
                <td style="font-size: 16px; font-weight: bold;">
                    To
                </td>
                <td>
                    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <span class="input-group-btn"></span>
                        <input type="text" placeholder="End Date" name="end_date" class="form-control" style="width: 140px;" readonly/>
                    </div>
                </td>
                <td>
                    {{ form_widget(formSearch.search, { 'attr': {'class': 'btn grey button-width', 'style': 'height:32px;' } } ) }}
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <br/>

    <div class="col-md-12">
        <table class="table table-striped" style="border: 1px solid #808080;">
            <thead>
            <tr>
                <th>Sl</th>
                <th>Project</th>
                <th>Total</th>
                <th>Quantity</th>
                <th>Project Summary</th>
            </tr>
            </thead>
            <tbody>

            {% if page == 1 %}{% set i = 0 %}
            {% else %}{% set i = (page * 10) - 10 %}
            {% endif %}

            {% for itemUse in itemUses %}
                {% set i = i + 1 %}

                <tr>
                    <td>
                        {{ i }}.
                    </td>
                    <td class="col-md-2">
                        <a href="/report/item/details/{{ itemUse.id }}/{{ start }}/{{ end }}" style="width: 85px;">
                            {{ itemUse.itemName }}
                        </a>
                    </td>
                    <td class="col-md-2">
                        {{ itemUse.total }} Tk
                    </td>
                    <td class="col-md-2">
                        {{ itemUse.quantity }} {{ itemUse.itemUnit }}
                    </td>
                    <td class="col-md-6">
                        <table class="table table-striped" style="border: 1px solid #808080;">

                            <tr>
                                <th>Project Name</th>
                                <th>Hightest Price</th>
                                <th>Lowest Price</th>
                            </tr>

                            {% for ps in itemUse.projectSummary %}
                                <tr>
                                    <td>{{ ps.project_name }}</td>
                                    <td>{{ ps.projectHighest }} Tk</td>
                                    <td>{{ ps.projectLowest }} Tk</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="navigation" style="text-align: right">
            {{ knp_pagination_render(itemUses) }}
        </div>
    </div>

{% endblock %}