{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('report_project') }}" method="get" {{ form_enctype(formSearch) }} name="search">

<table id="table_project_cost">
    <tbody>
    <tr>
        <td>
            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                <span class="input-group-btn"></span>
                <input type="text" name="start_date" class="form-control" style="width: 140px;margin-left: 14px;" readonly/>
            </div>
        </td>
        <td style="font-size: 16px; font-weight: bold;">
            To
        </td>
        <td>
            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                <span class="input-group-btn"></span>
                <input type="text" name="end_date" class="form-control" style="width: 140px;" readonly/>
            </div>
        </td>
        <td>
            {{ form_widget(formSearch.search, { 'attr': {'class': 'btn grey button-width', 'style': 'height:32px;' } } ) }}
        </td>
    </tr>
    </tbody>
</table>
</form>

<br/>

<div class="col-md-6">
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-reorder"></i>Projects Chart</div>
        </div>
        <div class="portlet-body">
            <div id="interactive" class="chart"></div>
            <div style="text-align: center;font-weight: bold">Total spent in top 10 projects : {{ sumOfTopten }}</div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-reorder"></i></div>
        </div>
        <div class="portlet-body">
            {#<div id="interactive" class="chart"></div>#}
            <div style="text-align: center;font-weight: bold"></div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <table class="table table-striped table-hover" id="sorting" style="border: 1px solid grey;">
        <thead>
        <tr>
            <th>Projects</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for projectcost in projectcosts %}

            <tr>
                <td style="width: 150px;">
                    <a href="/report/project/details/{{ projectcost.id }}" style="width: 85px;">
                        {{ projectcost.projectName }}
                    </a>
                </td>
                <td style="width: 90px;">{{ projectcost.total }} Tk</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}

{% block documentready %}
{{ parent() }}

    $('#sorting').dataTable({
    "sDom": "<'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
    "aoColumns": [
    { "bSortable": true },
    null
    ]
    });

var data = {{ reportData|json_encode|raw }}
$.plot($("#interactive"), data, {

    series: {
        pie: {
            show: true,
            label: {
                show: true,
                radius: 3 / 4,
                formatter: function (label, series) {

                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                },
                background: {
                    opacity: 0.8
                }
            }
        }
    },
    grid: {
        hoverable: true,
        clickable: true
    }
});
$("#interactive").bind("plothover", pieHover);
$("#interactive").bind("plotclick", pieClick);

function pieHover(event, pos, obj) {

    if (!obj)
        return;
    percent = parseFloat(obj.series.percent).toFixed(2);
    $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
}

function pieClick(event, pos, obj) {
    if (!obj)
        return;
    percent = parseFloat(obj.series.percent).toFixed(2);
    alert('' + obj.series.label + ': ' + percent + '%');
}
{% endblock documentready %}