{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
            <strong></strong> {{ flashMessage }}.
        </div>
    {% endfor %}

    <span class="subCategoryMessege"></span>

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title"></h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="#" class="sub-category-active-list">Active Sub Category List</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="#" class="sub-category-deleted-list">Deleted Sub Category List</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Sub Category</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'sub-category-form', 'novalidate': 'novalidate'} }) }}
                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class="control-label col-md-2 bold">Sub-Category :</label>
                                    <div class="col-md-4" style="margin-left: -50px;">
                                        <input type="text" size="16" id="subcategory_category_categoryName" class="form-control">
                                    </div>
                                    <div class="col-md-4" style="margin-left: -15px;">
                                        <div class="input-icon">
                                            {{ form_widget(form.subcategory, { 'attr': {'class': 'form-control', 'style': '' } }) }}
                                        </div>
                                    </div>
                                    <input type="button" name="ajaxSaveSubCategory" value="Save" id="ajaxSaveSubCategory" class="btn green button-width col-md-1" style="margin-top:2px;height:32px;">
                                    <span class="userMessege" style="margin-left: 195px;"></span>
                                </div>

                            </div>
                            {{ form_end(form) }}
                        </div>

                        <div class="form-actions fluid" id="sub-category-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Sub Category Name</th>
                                                <th>Category Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% set i = 0 %}
                                            {% for subCategory in subCategoryList %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if subCategory['status'] == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif subCategory['status'] == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td>{{ i }} .</td>
                                                    <td class="col-md-4" style="color: {{ color|join("") }};">{{ subCategory['name'] }}</td>
                                                    <td class="col-md-4">{{ subCategory['parent'][0]['categoryName'] }}</td>
                                                    <td>
                                                        <a href="/sub-category/delete/{{ subCategory['id'] }}" style="width: 85px;" class="btn default btn-xs green-stripe"><i
                                                                    class="fa fa-trash-o"></i> Delete</a>
                                                    </td>
                                                    {#<td>#}
                                                        {#<a href="/sub-category/update/{{ subCategory.id }}" style="width: 85px;" class="btn default btn-xs blue-stripe"><i#}
                                                                    {#class="fa fa-edit"></i> Update</a>#}
                                                    {#</td>#}
                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% block documentready %}
            {{ parent() }}

            $("#ajaxSaveSubCategory").click(function () {
                var sPageURL = window.location.pathname;
                var sURLVariables = sPageURL.split('/');
                var subcategory = $("#subcategory_category_categoryName").val();
                var category = $("#subcategory_subcategory").val();

                var subcategoryArray = new Array(subcategory, category, sURLVariables[3]);
                $.ajax({
                    type: "post",
                    url: Routing.generate('sub_category_ajax_add'),
                    data: "subcategoryArray=" + subcategoryArray,
                    dataType: 'json',
                    success: function (msg) {
                        if(msg.responseCode == 200) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category/category already exist</span></div>');
                            $('.subCategoryMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#sub-category-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 204) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Please Insert Sub-category or select Category</span></div>');
                            $('.subCategoryMessege').css('color', 'red').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#sub-category-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else if(msg.responseCode == 202) {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category Update Successfully</span></div>');
                            $('.subCategoryMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#sub-category-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        } else {
                            var $addLink = $('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button><span>Sub-category Add Successfully</span></div>');
                            $('.subCategoryMessege').css('color', 'green').html(msg.item_ajax_add).fadeIn(1000).append($addLink);
                            $(':input','#sub-category-form')
                                    .not(':button, :submit, :reset, :hidden')
                                    .val('')
                                    .removeAttr('checked')
                                    .removeAttr('selected');
                        }

                        $('.userMessege').fadeOut();
                        $("#sub-category-list-div").load("/sub-category/list")
                    }
                });
            });

            $("#subcategory_category_categoryName").keyup(function () {
                var subCategoryName = $(this).val();

                $.ajax({
                    type: "post",
                    url: Routing.generate('sub_category_check'),
                    data: "subCategoryName=" + subCategoryName,
                    dataType: 'json',
                    success: function (msg) {
                        if (msg.responseCode == 200) {
                            $('.userMessege').css('color', 'red').html(msg.sub_category_name).fadeIn(1000);
                        }
                        else {
                            $('.userMessege').css('color', 'green').html(msg.sub_category_name).fadeIn(1000);
                        }
                    }
                });
            });

            $(".sub-category-active-list").click(function () {

                $("#sub-category-list-div").load("/sub-category/list");
            });

            $(".sub-category-deleted-list").click(function () {

                $("#sub-category-list-div").load("/sub-category/deleted/list");
            });

            {% endblock %}
        });
    </script>

{% endblock %}