<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

            <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>Sub Category Name</th>
                    <th>Category Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% set i = 0 %}
                {% for subCategory in subCategoryList %}
                    {% set i = i + 1 %}
                    {% set color = [" "] %}

                    {% if subCategory['status'] == 0 %}{% set color = color|merge(["red"]) %}
                    {% elseif subCategory['status'] == 1 %}{% set color = color|merge(["green"]) %}
                    {% endif %}

                    <tr>
                        <td>{{ i }} .</td>
                        <td class="col-md-4" style="color: {{ color|join("") }};">{{ subCategory['name'] }}</td>
                        <td class="col-md-4">{{ subCategory['parent'][0]['categoryName'] }}</td>
                        <td>
                            <a href="/sub-category/delete/{{ subCategory['id'] }}" style="width: 85px;" class="btn default btn-xs green-stripe"><i
                                        class="fa fa-trash-o"></i> Delete</a>
                        </td>
                        {#<td>#}
                        {#<a href="/sub-category/update/{{ subCategory.id }}" style="width: 85px;" class="btn default btn-xs blue-stripe"><i#}
                        {#class="fa fa-edit"></i> Update</a>#}
                        {#</td>#}
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>