{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false"></button>
            <strong></strong> {{ flashMessage }}.
        </div>
    {% endfor %}

    <span class="projectCostMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i>Cost</div>
                </div>

                <div class="portlet-body form">
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'cost-form', 'novalidate': 'novalidate'} }) }}
                    <div class="form-body left">

                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            Please check below.
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            Successfully insert.
                        </div>

                        <div class="form-actions fluid">

                            <div class="portlet-body">
                                <div class="col-md-11" style="margin-left: 40px;">

                                    <table id="table_project_cost">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Project</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Unite Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                        <span class="input-group-btn"></span>
                                                        {{ form_widget(form.dateOfCost, { 'attr': {'class': 'form-control', 'style': 'width:152px;'} }) }}
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ form_widget(form.project, { 'attr': {'class': 'form-control', 'style': 'width:152px;' } }) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.item, { 'attr': {'class': 'form-control', 'style': 'width:152px;' } }) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.quantity, { 'attr': {'class': 'form-control quantity'} }) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.unitPrice, { 'attr': {'class': 'form-control unitPrice'} }) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.lineTotal, { 'attr': {'class': 'form-control lineTotal'} }) }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    {{ form_widget(form.invoice, { 'attr': {'class': 'form-control'} }) }}
                                                </td>
                                                <td>
                                                    {{ form_widget(form.grn, { 'attr': {'class': 'form-control'} }) }}
                                                </td>
                                                <td>
                                                    <input type="button" name="ajaxSaveProjectCost" value="Save" id="ajaxSaveProjectCost" class="btn green button-width" style="height:32px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                        <div class="form-actions">
                            <div class="form-group">
                                <div class="col-md-12">

                                    <form action="{{ path('cost_add') }}" method="get" {{ form_enctype(formSearch) }} name="search">

                                        <div class="portlet-body">
                                            <div class="col-md-9" style=" margin-left: 30px;">

                                                <table id="table_project_cost">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{ form_widget(formSearch.project, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                            </td>
                                                            <td>
                                                                {{ form_widget(formSearch.item, { 'attr': {'class': 'form-control', 'style': 'width:140px;' } }) }}
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                                    <span class="input-group-btn"></span>
                                                                    <input type="text" name="start_date" class="form-control" readonly/>
                                                                </div>
                                                            </td>
                                                            <td style="font-size: 16px; font-weight: bold;">
                                                                To
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                                    <span class="input-group-btn"></span>
                                                                    <input type="text" name="end_date" class="form-control" readonly/>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{ form_widget(formSearch.search, { 'attr': {'class': 'btn grey button-width', 'style': 'height:32px;' } } ) }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                </form>

                                    <div class="col-md-11" style="margin-top: 30px; margin-left: 4%;" id="cost-list-div">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Date</th>
                                                <th>Project</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Unite Price</th>
                                                <th>Total</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 10) -10 %}
                                            {% endif %}

                                            {% for projectcosts in projectcost %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if projectcosts.status == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif projectcosts.status == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td style="width: 60px;">{{ i }} .</td>
                                                    <td style="width: 105px; color: {{ color|join(" ") }}">{{ projectcosts.dateOfCost|date('Y-m-d') }}</td>
                                                    <td style="width: 150px; color: {{ color|join(" ") }}">{{ projectcosts.project.projectName | length > 12 ? projectcosts.project.projectName | slice(0, 12) ~ ' ...' : projectcosts.project.projectName }}</td>
                                                    <td style="width: 150px; color: {{ color|join(" ") }}">{{ projectcosts.item.itemName | length > 11 ? projectcosts.item.itemName | slice(0, 11) ~ ' ...' : projectcosts.item.itemName }}</td>
                                                    <td style="width: 100px; color: {{ color|join(" ") }}">{{ projectcosts.quantity | default() }}</td>
                                                    <td style="width: 110px; color: {{ color|join(" ") }}">{{ projectcosts.unitPrice | default() }}</td>
                                                    <td style="width: 90px; color: {{ color|join(" ") }}">{{ projectcosts.lineTotal | default() }}</td>
                                                    {% if projectcosts.status == 0 %}
                                                        <td>
                                                            <a href="/project-cost/approved/{{ projectcosts.id }}" style="width: 85px;" class="btn default btn-xs red-stripe"><i
                                                                        class="fa fa-plus"></i> Check</a>
                                                        </td>
                                                        <td>
                                                            <a href="/project-cost/update/{{ projectcosts.id }}" style="width: 80px;" class="btn default btn-xs blue-stripe"><i
                                                                        class="fa fa-edit"></i> Update</a>
                                                        </td>
                                                    {% endif %}
                                                    {% if projectcosts.status == 1 %}
                                                        <td style=" color: red;">
                                                            <a href="#" class="btn default btn-xs green-stripe" style="width: 85px;"><i class="fa fa-check"></i> Approved</a>
                                                        </td>
                                                        <td style="width: 85px;">

                                                        </td>
                                                    {% endif %}
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(projectcost) }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}