<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

            <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>Item Name</th>
                    <th>Unit</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>

                {% if page == 1 %}{% set i = 0 %}
                {% else %}{% set i = (page * 10) - 10 %}
                {% endif %}

                {% for items in item %}

                    {% set i = i + 1 %}
                    {% set color = [" "] %}

                    {% if items.status == 0 %}{% set color = color|merge(["red"]) %}
                    {% elseif items.status == 1 %}{% set color = color|merge(["green"]) %}
                    {% endif %}

                    <tr>
                        <td style="width: 60px;">{{ i }} .</td>
                        <td style="width: 422px; color: {{ color|join("") }};">{{ items.itemName }}</td>
                        <td style="width: 200px; color: {{ color|join("") }};">{{ items.itemUnit }}</td>

                        <td style="color: red;">
                            <a href="#" class="btn default btn-xs red-stripe" style="width: 85px;"><i
                                        class="fa fa-times"></i> Deleted</a>
                        </td>
                        <td style="width: 85px;">
                            <a href="/item/active/{{ items.id }}" class="btn default btn-xs green-stripe" style="width: 85px;"><i
                                        class="fa fa-repeat"></i> Restore</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" style="text-align: right">
                {{ knp_pagination_render(item) }}
            </div>
        </div>
    </div>
</div>
