<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-11" style="margin-top: 30px;margin-left: 4%;">

            <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>Item Name</th>
                    <th>Unit</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% if page == 1 %}{% set i = 0 %}
                {% else %}{% set i = (page * 10) - 10 %}
                {% endif %}

                {% for item in items %}
                    {% set i = i + 1 %}
                    {% set color = [" "] %}

                    {% if item.status == 0 %}{% set color = color|merge(["red"]) %}
                    {% elseif item.status == 1 %}{% set color = color|merge(["green"]) %}
                    {% endif %}

                    <tr>
                        <td>{{ i }} .</td>
                        <td class="col-md-6" style="color: {{ color|join("") }};">{{ item.itemName }}</td>
                        <td class="col-md-2" style="color: {{ color|join("") }};">{{ item.itemUnit }}</td>
                        <td>
                            <a href="/item/delete/{{ item.id }}" style="width: 85px;" class="btn default btn-xs green-stripe"><i
                                        class="fa fa-trash-o"></i> Delete</a>
                        </td>
                        <td>
                            <a href="/item/update/{{ item.id }}" style="width: 85px;" class="btn default btn-xs blue-stripe"><i
                                        class="fa fa-edit"></i> Update</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <div class="navigation" style="text-align: right">
                {{ knp_pagination_render(items) }}
            </div>
        </div>
    </div>
</div>