{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="purchaseRequisitionMessege"></span>

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title"></h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition">All List</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition/open">Open</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition/closed">Closed</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Purchase Requisition</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="form-actions fluid">
                            <div class="table-toolbar" style="float: right;margin-right: 20px;">
                                <div class="btn-group">
                                    <a href="/purchase/requisition/new" class="btn green">
                                        New Purchase
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid" id="project-list-div">
                            <div class="form-group">
                                <div class="col-md-12" style="margin-top: 30px;">

                                    <table class="table bold" style="border: 1px solid ghostwhite;">
                                        <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Date</th>
                                            <th>Req. No</th>
                                            <th>Project</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if page == 1 %}{% set i = 0 %}
                                        {% else %}{% set i = (page * 50) -50 %}
                                        {% endif %}

                                        {% for purchaseRequisition in purchaseRequisitions %}
                                            {% set i = i + 1 %}
                                            {% set bgColor = [" "] %}

                                            {% if purchaseRequisition.approvedByProjectHead == 0 %}{% set bgColor = bgColor|merge(["#FFE4B2"]) %}
                                            {% elseif purchaseRequisition.approvedByProjectHead == 1 and purchaseRequisition.approvedByCategoryHeadOne == 0 %}{% set bgColor = bgColor|merge(["#E6E6FF"]) %}
                                            {% elseif purchaseRequisition.approvedByCategoryHeadOne == 1 and purchaseRequisition.approvedByCategoryHeadTwo == 0 %}{% set bgColor = bgColor|merge(["#CCCCFF"]) %}
                                            {% endif %}

                                            <tr style="background: {{ bgColor|join("") }};">
                                                <td class="col-md-1">{{ i }} .</td>
                                                <td class="col-md-1">{{ purchaseRequisition.dateOfRequisition|date('Y-m-d') }}</td>
                                                <td class="col-md-1">{{ purchaseRequisition.requisitionNo }}</td>
                                                <td class="col-md-3">{{ purchaseRequisition.project.projectName }}</td>

                                                {% if purchaseRequisition.approvedByProjectHead == 0 %}
                                                    <td class="col-md-1"><a href="/purchase/requisition/approve/projectHead/{{ purchaseRequisition.id }}">Rise</a></td>
                                                {% endif %}

                                                {% if purchaseRequisition.approvedByProjectHead == 1 and purchaseRequisition.approvedByCategoryHeadOne == 0 %}
                                                    <td class="col-md-1"><a href="/purchase/requisition/approve/CategoryHeadOne/{{ purchaseRequisition.id }}">Approved</a></td>
                                                {% endif %}

                                                {% if purchaseRequisition.approvedByCategoryHeadOne == 1 and purchaseRequisition.approvedByCategoryHeadTwo == 0 %}
                                                    <td class="col-md-1"><a href="/purchase/requisition/approve/CategoryHeadTwo/{{ purchaseRequisition.id }}">Validated</a></td>
                                                {% endif %}

                                                {% if purchaseRequisition.approvedByCategoryHeadTwo == 1 %}
                                                    <td class="col-md-1">

                                                    </td>
                                                    <td class="col-md-1">
                                                        Verified
                                                    </td>
                                                {% endif %}

                                                {% if purchaseRequisition.approvedByProjectHead == 0 or purchaseRequisition.approvedByCategoryHeadOne == 0 or purchaseRequisition.approvedByCategoryHeadTwo == 0 %}
                                                    <td>
                                                        <a href="/purchase/requisition/edit/{{ purchaseRequisition.id }}" style="width: 100px;" class="btn default btn-xs green-stripe"><i
                                                                    class="fa fa-edit"></i> Edit</a>
                                                    </td>
                                                {% endif %}
                                                <td class="col-md-1">
                                                    <a href="/purchase/requisition/details/{{ purchaseRequisition.id }}" data-target="#ajax" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <div class="navigation" style="text-align: right">
                                        {{ knp_pagination_render(purchaseRequisitions) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal data duplicate so add this code in app.js
            {#$('#ajax').on('hidden.bs.modal',function(){#}
                {#$(this).removeData('bs.modal');#}
            {#});#}
    !>

{% endblock %}