{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="purchaseRequisitionMessege"></span>

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title"></h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition">All List</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition/open">Open</a>
                    <i class="fa">|</i>
                </li>
                <li>
                    <i class="fa fa-gift"></i>
                    <a href="/purchase/requisition/closed">Closed</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Purchase Requisition</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="form-actions fluid" id="project-list-div">
                            <div class="form-group">
                                <div class="col-md-12" style="margin-top: 30px;">

                                    <table class="table bold" style="border: 1px solid ghostwhite;">
                                        <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Date</th>
                                            <th>Req. No</th>
                                            <th>Project</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if page == 1 %}{% set i = 0 %}
                                        {% else %}{% set i = (page * 50) -50 %}
                                        {% endif %}

                                        {% for purchaseRequisition in purchaseRequisitions %}
                                            {% set i = i + 1 %}
                                            {% set bgColor = [" "] %}

                                            {% if purchaseRequisition.approveStatus == 0 %}{% set bgColor = bgColor|merge(["#FFE4B2"]) %}
                                            {% elseif purchaseRequisition.approveStatus == 1 %}{% set bgColor = bgColor|merge(["#E6E6FF"]) %}
                                            {% elseif purchaseRequisition.approveStatus == 2 %}{% set bgColor = bgColor|merge(["#CCCCFF"]) %}
                                            {% elseif purchaseRequisition.approveStatus == 3 %}{% set bgColor = bgColor|merge(["#9999FF"]) %}
                                            {% elseif purchaseRequisition.approveStatus == 4 %}{% set bgColor = bgColor|merge(["#B2D9B2"]) %}
                                            {% endif %}

                                            <tr style="background: {{ bgColor|join("") }};">
                                                <td class="col-md-1">{{ i }} .</td>
                                                <td class="col-md-1">{{ purchaseRequisition.dateOfRequisition|date('Y-m-d') }}</td>
                                                <td class="col-md-1">{{ purchaseRequisition.requisitionNo }}</td>
                                                <td class="col-md-3">{{ purchaseRequisition.project.projectName }}</td>
                                                <td class="col-md-3">Closed</td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="navigation" style="text-align: right">
                                        {{ knp_pagination_render(purchaseRequisitions) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}