{% block body %}

    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="text-align: center;"> Details</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div>

                        <div style="width: 100%;background: red;font-size: 14px;">
                            <div style="width: 45%;float:left;margin-left: 5%;">
                                <div style="font-weight: bold;">
                                    Purchase Requisition No. : {{ pr[0]['requisitionNo'] }}
                                </div>
                                <br/>
                                <div>
                                    Project : {{ pr[0]['projectName'] }}
                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>

                            </div>
                            <div style="width: 45%;float:right;">
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>

                            </div>
                        </div>

                        <table class="table bold" style="border: 1px solid ghostwhite;">
                            <thead>
                            <tr>
                                <th>Sl</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Required date</th>
                                <th>comment</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 0 %}
                            {% for prItem in pri %}
                                {% set i = i + 1 %}

                                <tr style="">
                                    <td class="col-md-1">{{ i }} .</td>
                                    <td class="col-md-1">{{ prItem.item.itemName }}</td>
                                    <td class="col-md-1">{{ prItem.quantity }}</td>
                                    <td class="col-md-1">{{ prItem.dateOfRequired | date('Y/m/d') }}</td>
                                    <td class="col-md-1">{{ prItem.comment }}</td>
                                    {% if prItem.purchaseRequisition.approvedByCategoryHeadTwo == 1 %}
                                        {% if prItem.claimedBy != null %}
                                            <td class="col-md-1">
                                                claimed by {{ prItem.claimedBy.username }} <a href="/purchase/requisition/item/close/{{ prItem.id }}">Click for Close</a>
                                            </td>
                                        {% endif %}
                                        {% if prItem.claimedBy == null %}
                                            <td class="col-md-1">
                                                <a href="/purchase/requisition/item/claim/{{ prItem.id }}">Claim</a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    {% endblock %}