{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content" style="background: white;">
            <div class="modal-header" style="background:#4b8df8;">
                <h4 class="modal-title bold" style="text-align: center;color: white;">Purchase Requisition Form</h4>
            </div>

            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'purchase-form', 'novalidate': 'novalidate'} }) }}
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-6" style="height:70px;float: left;text-align: left;">
                            <div class="form-group">
                                {{ form_label(form.project, 'Project Name :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left: -10px;' } }
                                ) }}
                                <div class="col-md-6">
                                    <div class="input-icon">
                                        {{ form_widget(form.project, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.requisitionNo, 'Requisition No :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left: -10px;' } }
                                ) }}
                                <div class="col-md-6" style="">
                                    <div class="input-icon">
                                        {{ form_widget(form.requisitionNo, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;' } }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="height:100px;float: right;">
                            <div class="col-md-12" style="height:50px;float:left;">
                                <div class="form-group">
                                    <label  class="col-md-3 control-label">Created :</label>
                                    <div class="col-md-6">
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            <input type="text" class="form-control" placeholder="{{ app.user.username }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-3 control-label">Date :</label>
                                    <div class="col-md-6">
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar"></i>
                                            <input type="text" class="form-control" placeholder="{{ "now"|date("m/d/Y") }}" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<br/>
<br/>
                    <div class="col-md-12">
                        <table class="table" style="margin-top: 100px;border: 1px solid ghostwhite;">
                            <thead style="background:#4b8df8;">
                            <tr>
                                <th class="col-md-3" style="padding-left: 30px;">Particulars</th>
                                <th class="col-md-3" style="padding-left: 12px;">Quantity</th>
                                <th class="col-md-3" style="padding-left: 12px;">Required By</th>
                                <th class="col-md-3" style="padding-left: 12px;">Remarks</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="purchaseItems" class="tags" data-prototype="{% filter escape %}
                                {{ include('PmsCoreBundle:PurchaseRequisition:purchaseRequisitionItemPrototype.html.twig', { 'form': form.purchaseRequisitionItems.vars.prototype }) }}
                                {% endfilter %}}">
                                {% for requisitionItem in form.purchaseRequisitionItems %}
                                <tr>
                                    <td>
                                        {{ form_widget(requisitionItem.item, { 'attr': {'class': 'form-control select2me', 'style': 'margin-left: 20px;width: 180px;padding-left: 10px! important;', 'placeholder': ' Select Item'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(requisitionItem.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
                                    </td>
                                    <td>
                                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                            <span class="input-group-btn"></span>
                                            {{ form_widget(requisitionItem.dateOfRequiredText, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ form_widget(requisitionItem.comment, { 'attr': {'class': 'form-control', 'style': 'width: 200px;padding-left: 10px! important;'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.remove, { 'attr': {'class': 'btn blue btn-xs', 'style': 'height:23px;width: 70px;font-size:13px;margin-left:10px;color: white !important;' } }) }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: #4b8df8;">
                <div class="btn-group">
                    <a href="/purchase/requisition" class="btn" style="width: 100px;background: #0353D6; color: white !important;">
                        <i class="fa fa-ban"> Cancel</i>
                    </a>
                </div>
                {{ form_widget(form.save, { 'attr': {'class': 'btn button-width', 'style': 'width: 100px;background: #0353D6; color: white !important;'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block documentready %}
    {{ parent() }}

    window.items;

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<tr></tr>').append(newForm);
        $newLinkLi.before($newFormLi);
        $('.date-picker').datepicker();

        $("#purchaserequisition_purchaseRequisitionItems_0_item").change(function () {
            var item = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('category_wise_item'),
                data: "item=" + item,
                dataType: 'json',
                success: function (response, status) {
                    if (response.responseCode == 200) {

                        window.items = response.categoryWiseItem;

                    } else {
                        $('.userMessege').css('color', 'green').html(msg.item_name).fadeIn(1000);
                    }
                }
            });
        });

        $("#purchaserequisition_purchaseRequisitionItems_" + index + "_remove").click(function () {
            var parent = $(this).closest('tr');
            parent.remove();
        });

    }

    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<td colspan ="5"><div style="text-align: left;margin-left: 20px;"><a href="#" style="background: #4b8df8;color: white !important;" class="btn btn-xs add_tag_link"><i class="fa fa-plus"></i> Add Item</a></div></td>');
    var $newLinkLi = $('<tr></tr>').append($addTagLink);

    // Get the ul that holds the collection of tags
    $collectionHolder = $('#purchaseItems');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function (e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);

        var trLength = $('tbody#purchaseItems').find('tr').length;
        if (trLength > 2) {
            var lastSelect =$('tbody#purchaseItems').find('tr:eq('+(trLength-2)+')').find('select:first');
            lastSelect.html('');
            for (i=0; i < window.items.length; i++){
                lastSelect.append('<option value="'+window.items[i].id+'">'+window.items[i].itemName+'</option>');
            }
        }
    });

{% endblock %}