{% block body %}

    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;"> </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div style="width: 100%;background: red;font-size: 14px;">
                            <div style="width: 45%;float:left;margin-left: 5%;">
                                <div style="font-weight: bold;">
                                    Purchase Requisition No. : {{ pr[0]['requisitionNo'] }}
                                </div>
                                <br/>
                                <div>
                                    Project : {{ pr[0]['projectName'] }}
                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>

                            </div>
                            <div style="width: 45%;float:right;">
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>
                                <div>

                                </div>
                                <br/>

                            </div>
                        </div>

                        <table class="table table-striped table-hover" style="width: 1000px;text-align: left;background-color: #808080;">
                            <thead>
                            <tr>
                                <th>Sl</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Required date</th>
                                <th>comment</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 0 %}
                            {% for prItem in pri %}
                                {% set i = i + 1 %}

                                <tr style="">
                                    <td>{{ i }} .</td>
                                    <td>{{ prItem.item.itemName }}</td>
                                    <td>{{ prItem.quantity }}</td>
                                    <td>{{ prItem.dateOfRequired | date('Y/m/d') }}</td>
                                    <td>{{ prItem.comment }}</td>
                                    <td>
                                        {% if prItem.purchaseRequisition.approvedByCategoryHeadTwo == 1 %}
                                            {% if prItem.claimedBy != null %}
                                                claimed by {{ prItem.claimedBy.username }} <a href="/purchase/requisition/item/close/{{ prItem.id }}">Click for Close</a>
                                            {% endif %}
                                            {% if prItem.claimedBy == null %}
                                                <a href="/purchase/requisition/item/claim/{{ prItem.id }}">Claim</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>

{% endblock %}