<td>
    {{ form_widget(form.item, { 'attr': {'class': 'form-control select2me', 'style': 'margin-left: 20px;width: 180px;padding-left: 10px! important;', 'placeholder': ' Select Item'} }) }}
</td>
<td>
    {{ form_widget(form.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 150px;padding-left: 10px! important;'} }) }}
</td>
<td>
    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
        <span class="input-group-btn"></span>
        {{ form_widget(form.dateOfRequiredText, { 'attr': {'class': 'form-control', 'style': 'width: 150px;padding-left: 10px! important;'} }) }}
    </div>
</td>
<td>
    {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'style': 'width: 250px;max-height: 54px;max-width: 250px;padding-left: 10px! important;'} }) }}
</td>
<td>
    {{ form_widget(form.remove, { 'attr': {'class': 'btn blue btn-xs', 'style': 'height:23px;width: 70px;font-size:13px;margin-left:10px;color: white !important;' } }) }}
</td>