{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="buyerMessege"></span>

    <!--BEGIN TABS-->
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="index.html#tab_1_1" style="color: black !important;" data-toggle="tab">Invoice</a></li>
            <li><a href="index.html#tab_1_2" style="color: black !important;" data-toggle="tab">Calan</a></li>
            <li style="float: right;margin-right: -1px;">
                <a href="/upload/file" style="background: #4b8df8; float: right; height: 40px; color:#ffffff; padding: 9px 14px !important;">
                    File Upload
                </a>
            </li>
        </ul>
        <div class="tab-content" style="height: auto;background: #eee;">
            <div class="tab-pane active" id="tab_1_1">
                <div class="" data-always-visible="1" data-rail-visible="0">

                    <div class="fluid" id="project-list-div">
                        <div class="form-group">
                            <div class="col-md-12" style="margin-top: 30px;">
                                <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                    <thead style="background: #4b8df8;">
                                    <tr>
                                        <th>Sl</th>
                                        <th class="col-md-2">Title</th>
                                        <th class="col-md-1">UploadBy</th>
                                        <th class="col-md-2">Upload Date</th>
                                        <th class="col-md-4">Description</th>
                                        <th class="col-md-1"></th>
                                        <th class="col-md-1"></th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if invoicePage == 1 %}{% set i = 0 %}
                                    {% else %}{% set i = (invoicePage * 50) - 50 %}
                                    {% endif %}

                                    {% for invoice in invoices %}
                                        {% set i = i + 1 %}
                                        {% set bgColor = ["#fff"] %}

                                        <tr style="height: 40px;background: {{ bgColor|join("") }};border-top: 3px solid #eee !important;">
                                            <td>{{ i }}.</td>
                                            <td>{{ invoice.title }}</td>
                                            <td>{{ invoice.uploadedBy }}</td>
                                            <td>{{ invoice.uploadedDate | date('d M Y') }}</td>
                                            <td>{{ invoice.description }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation" style="text-align: right">
                                    {{ knp_pagination_render(invoices) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_1_2">
                <div class="" style="" data-always-visible="1" data-rail-visible1="1">

                    <div class="fluid" id="project-list-div">
                        <div class="form-group">
                            <div class="col-md-12" style="margin-top: 30px;">
                                <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                    <thead style="background: #4b8df8;">
                                    <tr>
                                        <th>Sl</th>
                                        <th class="col-md-2">Title</th>
                                        <th class="col-md-1">UploadBy</th>
                                        <th class="col-md-2">Upload Date</th>
                                        <th class="col-md-4">Description</th>
                                        <th class="col-md-1"></th>
                                        <th class="col-md-1"></th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if calanPage == 1 %}{% set i = 0 %}
                                    {% else %}{% set i = (calanPage * 50) - 50 %}
                                    {% endif %}

                                    {% for invoice in calans %}
                                        {% set i = i + 1 %}
                                        {% set bgColor = ["#fff"] %}

                                        <tr style="height: 40px;background: {{ bgColor|join("") }};border-top: 3px solid #eee !important;">
                                            <td>{{ i }}.</td>
                                            <td>{{ invoice.title }}</td>
                                            <td>{{ invoice.uploadedBy }}</td>
                                            <td>{{ invoice.uploadedDate | date('d M Y') }}</td>
                                            <td>{{ invoice.description }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation" style="text-align: right">
                                    {{ knp_pagination_render(calans) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--END TABS-->

{% endblock %}