{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="purchaseOrderedMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Purchase Order</div>
                </div>

                <div class="portlet-body form">

                    <div class="form-body left">

                        <div class="form-actions fluid">
                            <div class="table-toolbar" style="float: right;margin-right: 20px;">
                                <div class="btn-group">
                                    <a href="/purchase/order/new" class="btn green">
                                        New Order
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions fluid" id="project-list-div">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-11" style="margin-left: 4%; margin-top: 30px;">

                                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                                            <thead>
                                            <tr>
                                                <th>Sl</th>
                                                <th>Date</th>
                                                <th>Order No</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% if page == 1 %}{% set i = 0 %}
                                            {% else %}{% set i = (page * 50) -50 %}
                                            {% endif %}

                                            {% for purchaseOrder in purchaseOrders %}
                                                {% set i = i + 1 %}
                                                {% set color = [" "] %}

                                                {% if purchaseOrder.status == 0 %}{% set color = color|merge(["red"]) %}
                                                {% elseif purchaseOrder.status == 1 %}{% set color = color|merge(["green"]) %}
                                                {% endif %}

                                                <tr>
                                                    <td>{{ i }} .</td>
                                                    <td class="col-md-2" style="color: {{ color|join("") }};">{{ purchaseOrder.dateOfDelivered|date('Y-m-d') }}</td>
                                                    <td class="col-md-9" style="color: {{ color|join("") }};">{{ purchaseOrder.orderNo }}</td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation" style="text-align: right">
                                            {{ knp_pagination_render(purchaseOrders) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}