{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content" style="background: white;">
            <div class="modal-header" style="background: lightgrey;">
                <h4 class="modal-title bold" style="text-align: center;color: white;"> Purchase Order Form</h4>
            </div>

            {{ form_start(form, {'action': path('purchase_order_new_save'), 'attr': {'class': 'form-horizontal', 'id': 'purchase-form', 'novalidate': 'novalidate'} } ) }}
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-6" style="height:100px;float: left;text-align: left;">
                            <div class="col-md-12" style="height:50px;float:left;">
                                <div class="form-group">
                                    {{ form_label(form.poNonpo, 'PO/NONPO :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left: -28px;margin-right:-12px;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            {{ form_widget(form.poNonpo, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;width: 188px;margin-left: -10px;' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height:35px;float:left;">
                                <div class="form-group" id="vendor-group">
                                    {{ form_label(form.vendor, 'Vendor :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left: -30px;margin-right:-20px;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            {{ form_widget(form.vendor, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;', 'placeholder': ' Select Vendor' } }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="buyer-group">
                                    {{ form_label(form.buyer, 'Buyer :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left: -30px;margin-right:-20px;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            {{ form_widget(form.buyer, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;', 'placeholder': ' Select Buyer' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="height:100px;float: right;">
                            <div class="col-md-12" style="height:50px;float:left;">
                                <div class="form-group">
                                    {{ form_label(form.orderNo, 'Order No :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left:15px;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            {{ form_widget(form.orderNo, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height:35px;float:left;">
                                <div class="form-group">
                                    {{ form_label(form.dateOfDelivered, 'Date Of Delivery:', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left:15px;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                <span class="input-group-btn"></span>
                                                {{ form_widget(form.dateOfDelivered, { 'attr': {'class': 'form-control', 'style': 'width: 188px;padding-left: 10px! important;'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<br/>
<br/>
<br/>
                    <div class="col-md-12">
                        <table class="table" style="margin-top: 100px;border: 1px solid ghostwhite;">
                            <thead style="background:#4b8df8;">
                            <tr>
                                <th class="col-md-1" style="padding-left: 15px;">Sl</th>
                                <th class="col-md-3" style="padding-left: 15px;">Particulars</th>
                                <th class="col-md-2" style="padding-left: 15px;">Quantity</th>
                                <th class="col-md-2" style="padding-left: 15px;">Project</th>
                                <th class="col-md-3" style="padding-left: 15px;">Remarks</th>
                            </tr>
                            </thead>

                            <tbody id="orderItems" class="tags" data-prototype="{% filter escape %}
                            {{ include('PmsCoreBundle:PurchaseOrder:purchaseOrderItemPrototype.html.twig', { 'form': form.purchaseOrderItems.vars.prototype }) }}
                            {% endfilter %}}">
                            {% set i = 0 %}
                            {% set j = 1 %}
                                {% for orderItem in form.purchaseOrderItems %}
                                    <tr>
                                        <td style="padding-left: 15px;">
                                            {{ j }}.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            {{ form_widget(orderItem.purchaseRequisitionItem, { 'attr': {'class': 'form-control', 'style': 'margin-left: 20px;width: 200px;padding-left: 10px! important;'} }) }}
                                            <span>{{ item[i] }}</span>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            {{ form_widget(orderItem.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            <span>{{ project[i] }}</span>
                                        </td>
                                        <td style="padding-left: 15px;">
                                            {{ form_widget(orderItem.comment, { 'attr': {'class': 'form-control', 'style': 'width: 240px;max-height: 54px;max-width: 240px;padding-left: 10px! important;'} }) }}
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                    {% set j = j + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: lightgrey;">
                <div class="btn-group">
                    <a href="javascript:history.back()" class="btn" style="width: 100px;background: #0353D6; color: white !important;" onclick="window.history.back();">
                        << Previous
                    </a>
                </div>
                <div class="btn-group">
                    <a href="/purchase/order" class="btn" style="width: 100px;background: #0353D6; color: white !important;">
                        <i class="fa fa-ban"> Cancel</i>
                    </a>
                </div>
                {{ form_widget(form.save, { 'attr': {'class': 'btn button-width', 'style': 'width: 100px;background: #0353D6; color: white !important;' } }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block documentready %}
    {{ parent() }}

    $("#purchaseorder_poNonpo").change(function () {
        var poNonpo = $("#purchaseorder_poNonpo").val();
        if (poNonpo == 1) {
            $('#buyer-group').hide();
            $('#vendor-group').show();
        } else {
            $('#vendor-group').hide();
            $('#buyer-group').show();
        }
    });

{% endblock %}