{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-actions fluid" id="project-list-div">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-11" style="margin-left: 4%; margin-top: 30px;">

                    <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for purchase in purchaseRequisitions %}

                            <tr>
                                <td class="col-md-2">{{ purchase.item.itemName }}</td>
                                <td class="col-md-2">{{ purchase.quantity }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bold" style="text-align: center;"> Purchase Order Form</h4>
            </div>

            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'purchase-form', 'novalidate': 'novalidate'} }) }}
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-6" style="height:70px;float: left;text-align: left;">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <div class="input-icon">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="height:100px;float: right;">
                            <div class="col-md-12" style="height:50px;float:left;">
                                <div class="form-group">
                                    {{ form_label(form.orderNo, 'Order No :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left:15px;font-weight:bold;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            {{ form_widget(form.orderNo, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height:35px;float:left;">
                                <div class="form-group">
                                    {{ form_label(form.dateOfDelivered, 'Date :', {'label_attr': {'class': 'control-label col-md-4', 'style': 'margin-left:15px;font-weight:bold;' } }
                                    ) }}
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                                <span class="input-group-btn"></span>
                                                {{ form_widget(form.dateOfDelivered, { 'attr': {'class': 'form-control', 'style': 'width: 188px;padding-left: 10px! important;'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<br/>
<br/>
<br/>
                    <div class="col-md-12">
                        <table class="table table-striped" style="border:1px solid grey;margin-top: 100px;">
                            <thead>
                            <tr>
                                <th class="col-md-3" style="padding-left: 12px;">Particulars</th>
                                <th class="col-md-2" style="padding-left: 12px;">Quantity</th>
                                <th class="col-md-2" style="padding-left: 12px;"></th>
                                <th class="col-md-3" style="padding-left: 12px;">Remarks</th>
                                <th class="col-md-2"></th>
                            </tr>
                            </thead>
                            <tbody id="orderItems" class="tags" data-prototype="{% filter escape %}
                                {{ include('PmsCoreBundle:PurchaseOrder:purchaseOrderItemPrototype.html.twig', { 'form': form.purchaseOrderItems.vars.prototype }) }}
                                {% endfilter %}}">
                                {% for OrderItem in form.purchaseOrderItems %}
                                    <tr>
                                        <td>
                                            {{ form_widget(form.item, { 'attr': {'class': 'form-control', 'style': 'width: 200px;padding-left: 10px! important;', 'placeholder': ' Select Item'} }) }}
                                        </td>
                                        <td>
                                            {{ form_widget(form.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'style': 'width: 188px;padding-left: 10px! important;'} }) }}
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(form.save, { 'attr': {'class': 'btn green button-width', 'style': 'width: 100px;' } }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block documentready %}
    {{ parent() }}

    function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<tr></tr>').append(newForm);
    $newLinkLi.before($newFormLi);
    $('.date-picker').datepicker();
    }

    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<td><div style="text-align: right;"><a href="#" class="btn default btn-xs green-stripe add_tag_link"><i class="fa fa-plus"></i> Add Item</a></div></td>');
    var $newLinkLi = $('<tr><td></td><td></td><td></td><td></td></tr>').append($addTagLink);

    // Get the ul that holds the collection of tags
    $collectionHolder = $('#orderItems');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
    // prevent the link from creating a "#" on the URL
    e.preventDefault();

    // add a new tag form (see next code block)
    addTagForm($collectionHolder, $newLinkLi);
    });

{% endblock %}