{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="background: lightgrey;">
                <h4 class="modal-title bold" style="text-align: center;color: white;"> Open Item List</h4>
            </div>
            <form method="post" action="">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table table-striped" style="margin-top: 0;">
                                <thead style="background: #4b8df8;">
                                <tr>
                                    <th class="col-md-1" style="">Check</th>
                                    <th class="col-md-2" style="">Particulars</th>
                                    <th class="col-md-2" style="">Quantity</th>
                                    <th class="col-md-2" style="">Project</th>
                                    <th class="col-md-2" style=""></th>
                                    <th class="col-md-2" style=""></th>
                                    <th class="col-md-1" style=""></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderItem in pri %}

                                    {% set quantityRequisition = orderItem.quantity %}
                                    {% set quantityOrder = orderItem.purchaseOrderQuantity %}
                                    {% set quantityNeed = quantityRequisition - quantityOrder %}

                                    <tr>
                                        <td class="col-md-1">
                                            <input type="checkbox" name="items[]" value="{{ orderItem.id }}">
                                        </td>
                                        <td class="col-md-3">
                                            {{ orderItem.item.itemName }}
                                        </td>
                                        <td class="col-md-2">
                                            {{ quantityNeed }}
                                        </td>
                                        <td class="col-md-2">
                                            {{ orderItem.purchaseRequisition.project.projectName | default() }}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background: lightgrey;">
                    <div class="btn-group">
                        <button type="submit" class="btn" style="width: 100px;background: #0353D6; color: white !important;">
                            Next <i class="fa icon-next"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block documentready %}
    {{ parent() }}

    $("#purchaseorder_poNonpo").change(function () {
    var poNonpo = $("#purchaseorder_poNonpo").val();
    if(poNonpo==1){
    $('#buyer-group').hide();
    $('#vendor-group').show();
    }else{
    $('#vendor-group').hide();
    $('#buyer-group').show();
    }
    });

{% endblock %}