{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="buyerMessege"></span>

    <!--BEGIN TABS-->
    <div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="index.html#tab_1_1" style="color: black !important;" data-toggle="tab">All</a></li>
        <li><a href="index.html#tab_1_2" style="color: black !important;" data-toggle="tab">Delivery</a></li>
        <li style="float: right;margin-right: -1px;">
            <a href="/receive/item/new" style="background: #4b8df8; float: right; height: 40px; color:#ffffff; padding: 9px 14px !important;">
                Receive
            </a>
        </li>
    </ul>
    <div class="tab-content" style="height: auto;background: #eee;">
    <div class="tab-pane active" id="tab_1_1">
        <div class="" data-always-visible="1" data-rail-visible="0">

            <div class="fluid" id="project-list-div">
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 30px;">
                        <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                            <thead style="background: #4b8df8;">
                            <tr>
                                <th>Sl</th>
                                <th class="col-md-2">Date</th>
                                <th class="col-md-1">GRN</th>
                                <th class="col-md-1">Invoice</th>
                                <th class="col-md-1">ReceivedBy</th>
                                <th class="col-md-2">Received Date</th>
                                <th class="col-md-1">Calan</th>
                                <th class="col-md-1">Vendor/Buyer</th>
                                <th class="col-md-1"></th>
                                <th class="col-md-2"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if allPage == 1 %}{% set i = 0 %}
                            {% else %}{% set i = (allPage * 50) - 50 %}
                            {% endif %}

                            {% for receivedItem in allReceives %}
                                {% set i = i + 1 %}
                                {% set bgColor = ["#fff"] %}

                                <tr style="height: 62px;background: {{ bgColor|join("") }};border-top: 3px solid #eee !important;">
                                    <td>{{ i }}.</td>
                                    <td>{{ receivedItem.receivedDate | date('d M Y') }}</td>
                                    <td>{{ receivedItem.grn }}</td>
                                    <td>{{ receivedItem.invoice.title | default() }}</td>
                                    <td>{{ receivedItem.receivedBy.username }}</td>
                                    <td>{{ receivedItem.receivedDate | date('d M Y') }}</td>
                                    <td>{{ receivedItem.calan.title | default() }}</td>
                                    <td>{{ receivedItem.vendor.vendorName |default() }} {{ receivedItem.buyer.username |default() }}</td>
                                    <td>
                                        <a href="/receive/delivery/{{ receivedItem.id }}" class="btn blue btn-xs" style="width: 65px;color:#ffffff !important;">Delivery</a>
                                    </td>
                                    <td style="text-align: right">
                                        <a href="/receive/details/{{ receivedItem.id }}" data-target="#ajax" data-toggle="modal"
                                        class="btn btn-xs"><i class="fa fa-info-circle" style="font-size: 20px;"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation" style="text-align: right">
                            {{ knp_pagination_render(allReceives) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="tab_1_2">
        <div class="" style="" data-always-visible="1" data-rail-visible1="1">

            <div class="fluid" id="project-list-div">
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 30px;">
                    <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                        <thead style="background: #4b8df8;">
                        <tr>
                            <th>Sl</th>
                            <th class="col-md-2">Date</th>
                            <th class="col-md-1">GRN</th>
                            <th class="col-md-1">Invoice</th>
                            <th class="col-md-1">ReceivedBy</th>
                            <th class="col-md-2">Received Date</th>
                            <th class="col-md-1">Calan</th>
                            <th class="col-md-1">Vendor/Buyer</th>
                            <th class="col-md-1"></th>
                            <th class="col-md-2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if closePage == 1 %}{% set i = 0 %}
                        {% else %}{% set i = (closePage * 50) - 50 %}
                        {% endif %}

                        {% for receivedItem in closeReceives %}
                            {% set i = i + 1 %}
                            {% set bgColor = ["#fff"] %}

                            <tr style="height: 62px;background: {{ bgColor|join("") }};border-top: 3px solid #eee !important;">
                                <td>{{ i }}.</td>
                                <td>{{ receivedItem.receivedDate | date('d M Y') }}</td>
                                <td>{{ receivedItem.grn }}</td>
                                <td>{{ receivedItem.invoice.title | default() }}</td>
                                <td>{{ receivedItem.receivedBy.username }}</td>
                                <td>{{ receivedItem.receivedDate | date('d M Y') }}</td>
                                <td>{{ receivedItem.calan.title | default() }}</td>
                                <td>{{ receivedItem.vendor.vendorName |default() }} {{ receivedItem.buyer.username |default() }}</td>
                                <td>
                                    {% if receivedItem.status == 1 %}
                                        <a href="/receive/delivery/{{ receivedItem.id }}" class="btn blue btn-xs" style="width: 65px;color:#ffffff !important;">Delivery</a>
                                    {% endif %}
                                    {% if receivedItem.status == 0 %}
                                        <a class="btn btn-xs" style="background:#C0D0E9;width: 65px;color:#ffffff !important;">Delivery</a>
                                    {% endif %}
                                </td>
                                <td style="text-align: right">
                                    <a href="/receive/details/{{ receivedItem.id }}" data-target="#ajax" data-toggle="modal"
                                    class="btn btn-xs"><i class="fa fa-info-circle" style="font-size: 20px;"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation" style="text-align: right">
                        {{ knp_pagination_render(closeReceives) }}
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    <!--END TABS-->

{% endblock %}