{% extends 'base.html.twig' %}

{% block body %}

    {{ include('::flash-message.html.twig') }}

    <span class="buyerMessege"></span>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Received List</div>
                </div>

                <div class="form-body left">
                    <div class="form-actions fluid">
                        <div class="table-toolbar" style="float: right;margin-right: 20px;">
                            <div class="btn-group">
                                <a href="/receive/item/new" class="btn green">
                                    receive Item
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


    <div class="form-actions fluid" id="project-list-div">
        <div class="form-group">
            <div class="col-md-12">

                <table class="table table-striped bold" style="border: 1px solid ghostwhite;">
                    <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Received Date</th>
                        <th>GRN</th>
                        <th>Quantity</th>
                        <th>Requisition</th>
                        {#<th>Invoice</th>#}
                        <th>Item</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if page == 1 %}{% set i = 0 %}
                    {% else %}{% set i = (page * 50) - 50 %}
                    {% endif %}

                    {% for receivedItem in receivedItems %}
                        {% set i = i + 1 %}
                        {% set color = [" "] %}

                        <tr>
                            <td class="col-md-1">{{ i }} .</td>
                            <td class="col-md-2" style="color: {{ color|join("") }};">{{ receivedItem.receivedDate | date('Y-m-d') }}</td>
                            <td class="col-md-1" style="color: {{ color|join("") }};">{{ receivedItem.grn }}</td>
                            <td class="col-md-2" style="color: {{ color|join("") }};">{{ receivedItem.quantity }}</td>
                            <td class="col-md-2" style="color: {{ color|join("") }};">{{ receivedItem.purchaseRequisition.requisitionNo }}</td>
                            {#<td class="col-md-1" style="color: {{ color|join("") }};">{{ receivedItem.invoice.invoiceNumber }}</td>#}
                            <td class="col-md-3" style="color: {{ color|join("") }};">{{ receivedItem.item.itemName }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation" style="text-align: right">
                    {{ knp_pagination_render(receivedItems) }}
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>


{% endblock %}