{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-reorder"></i> Receive Form</div>
                </div>

                <div class="form-body left">
                    {{ form_start(form, {'action': path('receive_save'), 'attr': {'class': 'form-horizontal', 'id': 'received-form', 'novalidate': 'novalidate'} }) }}
                    <div class="form-actions fluid">
                        <table class="table table-striped" style="border:1px solid grey;margin-top: 100px;">
                            <thead>
                            <tr>
                                <th class="col-md-3" style="padding-left: 30px;">item</th>
                                <th class="col-md-2" style="padding-left: 12px;">grn</th>
                                <th class="col-md-2" style="padding-left: 12px;">invoice</th>
                                <th class="col-md-3" style="padding-left: 12px;">quantity</th>
                                <th class="col-md-2" style="padding-left: 12px;">requisition</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#{% for orderItem in form %}#}
                                <tr>
                                    <td>
                                        {{ form_widget(form.item, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.grn, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.invoice, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.quantity, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.purchaseRequisitionItem, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                    </td>
                                </tr>
                            {#{% endfor %}#}
                            </tbody>
                        </table>


                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <a href="javascript:history.back()" class="btn green" style="width: 100px;" onclick="window.history.back();">
                                << Previous
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="/receive/item" class="btn green" style="width: 100px;">
                                Cancel
                            </a>
                        </div>
                        {{ form_widget(form.save, { 'attr': {'class': 'btn green button-width', 'style': 'width: 100px;' } }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
