{% extends 'base.html.twig' %}

{% block body %}

    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="background: lightgrey;">
                <h4 class="modal-title bold" style="text-align: center;color: white;">Receive Item List</h4>
            </div>
            <form method="post" action="">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table table-striped" style="margin-top: 0;">
                                <thead style="background: #4b8df8;">
                                <tr>
                                    <th style="">Check</th>
                                    <th class="col-md-2" style="">Particulars</th>
                                    <th class="col-md-2" style="">Quantity</th>
                                    <th class="col-md-2" style="">Project</th>
                                    <th class="col-md-2" style="">Req. Number</th>
                                    <th class="col-md-2" style="">PR Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderItem in pri %}

                                    {% set quantityNeed = orderItem.purchaseOrderQuantity - orderItem.receivedQuantity %}

                                    {% if orderItem.purchaseRequisition.createdBy.id == app.user.id %}

                                        <tr>
                                            <td>
                                                <input type="checkbox" name="items[]" value="{{ orderItem.id }}">
                                            </td>
                                            <td>
                                                {{ orderItem.item.itemName }}
                                            </td>
                                            <td>
                                                {{ quantityNeed }}
                                            </td>
                                            <td>
                                                {{ orderItem.purchaseRequisition.project.projectName | default() }}
                                            </td>
                                            <td>
                                                {{ orderItem.purchaseRequisition.requisitionNo | default() }}
                                            </td>
                                            <td>
                                                {{ orderItem.purchaseRequisition.dateOfRequisition | date("Y/m/d") }}
                                            </td>
                                        </tr>

                                    {% endif %}

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background: lightgrey;">
                    <div class="btn-group">
                        <button type="submit" class="btn" style="width: 100px;background: #0353D6; color: white !important;">
                            Next <i class="fa icon-next"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
